<div class='aside'>
  <% if(rights.access_services == 1){ %><a href='/storage/admin/services' class='link active'><%= strings.storage.admin.links.services %></a><% } else{ %><div class='link inactive'><%= strings.storage.admin.links.services %></div><% } %>
  <% if(rights.consult_services_rights == 1){ %><a href='/storage/admin/services-rights' class='link active'><%= strings.storage.admin.links.rights %></a><% } else{ %><div class='link inactive'><%= strings.storage.admin.links.rights %></div><% } %>
</div>