<div class='administrationNavigationBar'>
  <a href='/storage/admin' <% if(adminLocation === 'home'){ %>class='administrationNavigationBarLinkSelected'<% } else{ %>class='administrationNavigationBarLinkActive'<% } %>><%= strings.storage.admin.links.home %></a>
  <a href='/storage/admin/services-rights' <% if(adminLocation === 'rights'){ %>class='administrationNavigationBarLinkSelected'<% } else{ %>class='administrationNavigationBarLinkActive'<% } %>><%= strings.storage.admin.links.rights %></a>
  <% if(isAdmin){ %>
    <a href='/storage/admin/services-management' <% if(adminLocation === 'servicesManagement'){ %>class='administrationNavigationBarLinkSelected'<% } else{ %>class='administrationNavigationBarLinkActive'<% } %>><%= strings.storage.admin.links.services %></a>
    <a href='/storage/admin/account-admin' <% if(adminLocation === 'accoutnAdmin'){ %>class='administrationNavigationBarLinkSelected'<% } else{ %>class='administrationNavigationBarLinkActive'<% } %>><%= strings.storage.admin.links.levels %></a>
  <% } %>
</div>