/****************************************************************************************************/

.accessDetailBlock{ width:600px; background-color:#FFFFFF; border-radius:4px; border:1px solid #E0E0E0; max-width:600px; margin:20px; display:inline-block; vertical-align:top; }

.accessDetailBlockTitle{ font-family:roboto-light; font-size:20px; line-height:24px; width:calc(100% - 20px); padding:10px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; border-bottom:1px solid #E0E0E0; }

.accessDetailBlockApp{ padding:10px; }

.accessDetailBlockAppNameEnabled{ width:calc(100% - 76px); color:#5CB85C; font-family:roboto-light; line-height:28px; font-size:16px; display:inline-block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.accessDetailBlockAppNameDisabled{ width:calc(100% - 76px); color:#D9534F; font-family:roboto-light; line-height:28px; font-size:16px; display:inline-block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.accessDetailBlockAppSwitchActive{ width:56px; display:inline-block; vertical-align:top; margin:0 10px 0 10px; cursor:pointer; }

.accessDetailBlockAppSwitchInactive{ width:56px; display:inline-block; vertical-align:top; margin:0 10px 0 10px; }

.accessDetailBlockAppSwitchBackgroundEnabled{ width:56px; height:28px; background-color:#FFFFFF; border-radius:24px; content:''; position:relative; border:1px solid #428BCA; -webkit-transition-duration:500ms; transition-duration:500ms; -o-transition-duration:500ms; }

.accessDetailBlockAppSwitchBackgroundDisabled{ width:56px; height:28px; background-color:#FFFFFF; border-radius:24px; content:''; position:relative; border:1px solid #D9534F; -webkit-transition-duration:500ms; transition-duration:500ms; -o-transition-duration:500ms; }

.accessDetailBlockAppSwitchBackgroundInactive{ width:56px; height:28px; background-color:#FFFFFF; border-radius:24px; content:''; position:relative; border:1px solid #E0E0E0; -webkit-transition-duration:500ms; transition-duration:500ms; -o-transition-duration:500ms; }

.accessDetailBlockAppSwitchCircleEnabled{ width:24px; height:24px; position:absolute; top:2px; right:2px; content:''; background-color:#428BCA; border-radius:12px; -webkit-transition-duration:500ms; transition-duration:500ms; -o-transition-duration:500ms; }

.accessDetailBlockAppSwitchCircleDisabled{ width:24px; height:24px; position:absolute; top:2px; left:2px; content:''; background-color:#D9534F; border-radius:12px; -webkit-transition-duration:500ms; transition-duration:500ms; -o-transition-duration:500ms; }

.accessDetailBlockAppSwitchCircleEnabledInactive{ width:24px; height:24px; position:absolute; top:2px; right:2px; content:''; background-color:#E0E0E0; border-radius:12px; -webkit-transition-duration:500ms; transition-duration:500ms; -o-transition-duration:500ms; }

.accessDetailBlockAppSwitchCircleDisabledInactive{ width:24px; height:24px; position:absolute; top:2px; left:2px; content:''; background-color:#E0E0E0; border-radius:12px; -webkit-transition-duration:500ms; transition-duration:500ms; -o-transition-duration:500ms; }

/****************************************************************************************************/

@media (max-width: 319px)
{
  .accessDetailBlock{ width:calc(100% - 40px); }
}

@media (min-width: 320px) and (max-width: 479px)
{
  .accessDetailBlock{ width:calc(100% - 40px); }
}

@media (min-width: 480px) and (max-width: 639px)
{
  .accessDetailBlock{ width:calc(100% - 40px); }
}

@media (min-width: 640px) and (max-width: 779px)
{

}

@media (min-width: 780px) and (max-width: 959px)
{

}

@media (min-width: 960px) and (max-width: 1279px)
{

}

@media (min-width: 1280px) and (max-width: 1679px)
{

}

@media (min-width: 1680px)
{

}

/****************************************************************************************************/