/****************************************************************************************************/

@import url('../fonts.css');

body{ margin:0; background-color:#F9F9F9; }

.background{ position:fixed; top:0; bottom:0; left:0; right:0; z-index:10; }

.headerLocation{ position:relative; font-family:roboto-light; line-height:24px; font-size:20px; color:#FFFFFF; background-color:#428BCA; border-radius:0 4px 4px 0; margin:10px 0 10px 0; padding:5px 20px 5px 20px; width:max-content; max-width:calc(100% - 20px); box-sizing:border-box; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.prompt{ width:400px; position:absolute; top:40px; left:calc(50% - 200px); background-color:#FFFFFF; border-radius:4px; border:1px solid #E0E0E0; z-index:20; padding:0 0 10px 0; }

.prompt .title{ background-color:#D9534F; color:#FFFFFF; border-radius:4px 4px 0 0; font-size:20px; line-height:24px; padding:10px; font-family:roboto-light; }

.prompt .message{ padding:10px; color:#D9534F; font-family:roboto-light; line-height:24px; font-size:16px; }

.prompt .confirm{ -webkit-transition-duration:0.5s; transition-duration:0.5s; -moz-transition-duration:0.5s; -o-transition-duration:0.5s; width:80px; border:none; border-radius:4px; padding:4px 8px 4px 8px; color:#FFFFFF; background-color:#D9534F; cursor:pointer; line-height:24px; font-size:16px; font-family:roboto-light; display:inline-block; vertical-align:top; margin:0 0 0 calc(100% - 180px); }

.prompt .confirm:hover{ color:#000000; background-color:#C8423E; }

.prompt .cancel{ -webkit-transition-duration:0.5s; transition-duration:0.5s; -moz-transition-duration:0.5s; -o-transition-duration:0.5s; width:80px; border:none; border-radius:4px; padding:4px 8px 4px 8px; color:#FFFFFF; background-color:#428BCA; cursor:pointer; line-height:24px; font-size:16px; font-family:roboto-light; display:inline-block; vertical-align:top; margin:0 10px 0 10px; }

.prompt .cancel:hover{ color:#000000; background-color:#317AB9; }

.accounts{ position:relative; box-sizing:border-box; background-color:#FFFFFF; border:1px solid #F0F0F0; border-radius:4px; width:800px; margin:20px; padding:0 0 5px 0; display:inline-block; vertical-align:top; }

.accounts .popup{ position:absolute; top:0; left:0; right:0; }

.accounts .popup .blue{ background-color:#E6E6FA; border-radius:4px; border:1px solid #C4C4D8; width:90%; margin:10px 5% 10px 5%; box-sizing:border-box; padding:10px; text-align:center; font-family:roboto-light;  }

.accounts .popup .red{ background-color:#F08080; border-radius:4px; border:1px solid #D06060; width:90%; margin:10px 5% 10px 5%; box-sizing:border-box; padding:10px; text-align:center; font-family:roboto-light; }

.accounts .title{ font-size:20px; line-height:24px; font-family:roboto-light; padding:10px; border-bottom:1px solid #F0F0F0; }

.accounts .error .message{ color:#D9534F; font-size:16px; line-height:24px; padding:10px; font-family:roboto-light; }

.accounts .error .detail{ color:#B0B0B0; font-family:roboto-light-italic; font-size:14px; line-height:18px; padding:10px; }

.accounts .empty{ color:#D9534F; padding:10px; line-height:24px; font-size:16px; font-family:roboto-light; text-align:center; }

.accounts .labels{ padding:10px; font-size:16px; line-height:20px; font-family:roboto-light-italic; box-sizing:border-box; }

.accounts .labels .email{ width:30%; display:inline-block; vertical-align:top; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.accounts .labels .lastname{ width:25%; display:inline-block; vertical-align:top; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.accounts .labels .firstname{ width:25%; display:inline-block; vertical-align:top; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.accounts .labels .suspended{ width:20%; display:inline-block; vertical-align:top; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.accounts .account{ padding:5px 10px 5px 10px; box-sizing:border-box; font-size:14px; line-height:18px; font-family:roboto-light; border-bottom:1px solid #F0F0F0; }

.accounts .account.hide{ display:none; }

.accounts .account:hover{ background-color:#CCDDFF; cursor:pointer; }

.accounts .account .email{ display:inline-block; vertical-align:top; width:30%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.accounts .account .lastname{ display:inline-block; vertical-align:top; width:25%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.accounts .account .firstname{ display:inline-block; vertical-align:top; width:25%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.accounts .account .suspended{ display:inline-block; vertical-align:top; width:20%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.accounts .account .suspended.true{ color:#D9534F; }

.accounts .account .suspended.false{ color:#5CB85C; }

.accounts .pages{ padding:10px; margin:0 0 0 calc(100% - 270px); }

.accounts .page{ width:25px; text-align:center; line-height:16px; font-size:14px; padding:4px 0 0 0; box-sizing:border-box; display:inline-block; vertical-align:top; font-family:roboto-light; cursor:pointer; }

.accounts .page:hover{ color:#428BCA; }

.accounts .page.selected{ color:#428BCA; cursor:default; }

.accounts .page.inactive{ color:#D0D0D0; cursor:default; }

.errorBlock{ width:400px; max-width:400px; background-color:#FFFFFF; border:1px solid #E0E0E0; border-radius:4px; margin:20px; }

.errorBlockTitle{ font-family:roboto-light; font-size:20px; line-height:24px; border-bottom:1px solid #E0E0E0; padding:10px; }

.errorBlockMessage{ font-family:roboto-light; font-size:16px; line-height:24px; color:#D9534F; padding:10px; }

.errorBlockDetail{ font-family:roboto-light; font-size:14px; line-height:18px; color:#B0B0B0; padding:10px; }

/****************************************************************************************************/

@media (max-width: 319px)
{
  .prompt{ width:95%; top:40px; left:2.5%; }

  .accounts{ width:calc(100% - 40px); margin:20px; }

  .errorBlock{ width:calc(100% - 40px); margin:20px; }
}

@media (min-width: 320px) and (max-width: 479px)
{
  .prompt{ width:95%; top:40px; left:2.5%; }

  .accounts{ width:calc(100% - 40px); margin:20px; }

  .errorBlock{ width:calc(100% - 40px); margin:20px; }
}

@media (min-width: 480px) and (max-width: 639px)
{
  .accounts{ width:calc(100% - 40px); margin:20px; }
}

@media (min-width: 640px) and (max-width: 779px)
{
  .accounts{ width:calc(100% - 40px); margin:20px; }
}

@media (min-width: 780px) and (max-width: 959px)
{
  .accounts{ width:calc(100% - 40px); margin:20px; }
}

@media (min-width: 960px) and (max-width: 1279px)
{

}

@media (min-width: 1280px) and (max-width: 1679px)
{

}

@media (min-width: 1680px)
{

}

/****************************************************************************************************/