<!DOCTYPE html>
<html>
  <title>Library - Menu</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/admin.css" />
  <body class='private-section-body'>
    <% include ../include/menu.ejs %>
    <% for(var key in links){ %><!-- @SuppressWhitespace
    --><a href='/admin/<%= key %>' class='admin-main-block-element'><%= links[key] %></a><!-- @SuppressWhitespace
    --><% } %>
    <% include ../include/scripts.ejs %>
    <script src='/js/afk.js'></script>
  </body>
</html>