<!DOCTYPE html>
<html>
  <% include ../include/head.ejs %>
  <body class='private-section-body'>
    <% include ../include/menu.ejs %>
    <% for(var key in links){ %><!-- @SuppressWhitespace
    --><a href='/admin/<%= key %>' class='admin-main-block-element'><%= links[key] %></a><!-- @SuppressWhitespace
    --><% } %>
    <% include ../include/scripts.ejs %>
    <script src='/js/afk.js'></script>
  </body>
</html>