<!DOCTYPE html>
<html>
  <title>Library - Services</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/admin.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/admin/services/detail.css" />
  <body class='private-section-body'>
    <% include ../include/menu.ejs %>
    <% include ../include/admin_aside.ejs %><!--
    --><div id='main' class='main' name='<%= service %>'>
      <div id='content' class='content'>
        <div class='error' id='error'>
          <div class='header'>Erreur</div>
          <div class='message'></div>
          <div class='detail'>
            <div class='label'>Détail</div>
            <div class='content'></div>
          </div>
          <button id='reload' class='reload'>Recharger</button>
        </div>
      </div>
      <div id='background' class='background'>
        <div class='loader'>
          <div class='spinner'><i class='fas fa-circle-notch fa-spin'></i></div>
          <div class='message'>Chargement en cours...</div>
        </div>
      </div>
    </div>
    <% include ../include/scripts.ejs %>
    <script src='/js/afk.js'></script>
    <script src='/js/fontawesome.js'></script>
    <script src='/js/admin/services/detail.js'></script>
  </body>
</html>