<!DOCTYPE html>
<html>
  <% include ../include/head.ejs %>
  <body class='private-section-body'>
    <% include ../include/menu.ejs %>
    <% include ../include/admin_aside.ejs %>
    <div class='admin-main-block'>
      <a class='return' href='/admin/users'>Retour</a>
      <div class='block'>
        <div class='key'>Adresse email</div
        ><div class='value'><%= account['email'] %></div
        ><button name='admin-users-edit-account-button' class='edit'>Modifier</button>
      </div>
      <div class='block'>
        <div class='key'>Nom</div
        ><div class='value'><%= account['lastname'] %></div
        ><button name='admin-users-edit-account-button' class='edit'>Modifier</button>
      </div>
      <div class='block'>
        <div class='key'>Prénom</div
        ><div class='value'><%= account['firstname'] %></div
        ><button name='admin-users-edit-account-button' class='edit'>Modifier</button>
      </div>
      <div class='block'>
        <div class='key'>Service</div
        ><div class='value'><%= services[account['service']]['name'] %></div
        ><button name='admin-users-edit-account-button' class='edit'>Modifier</button>
      </div>
    </div>
    <% include ../include/scripts.ejs %>
    <script src='/js/admin/user.js'></script>
  </body>
</html>