<!DOCTYPE html>
<html>
  <title><%= storageAppStrings.pageTitle %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/common.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/test.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/home.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/service.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/storage/navigation.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/messenger.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.css" />
  <body>
    <div class="informationBlock" id="informationBlock"></div>
    <div id="mainContainer">
      <noscript>
        <div class="noScriptVerticalContainer">
          <div class="noScriptHorizontalContainer">
            <div class="noScriptMessage"><%= commonStrings.noScriptMessage %></div>
          </div>
        </div>
      </noscript>
      <div id="wrapperContainer"></div>
    </div>
    <% include ../include/scripts.ejs %>
    <script src='/socket.io/socket.io.js'></script>
    <script src="/js/logout.js"></script>
    <script src='/js/storage/initializeSocket.js'></script>
    <% include ../include/messenger.ejs %>
    <script src='/js/storage/exit.js'></script>
    <script src='/js/storage/homeSocket.js'></script>
    <script src='/js/storage/linkToAccount.js'></script>
    <script src="/js/storage/loadLocation.js"></script>
    <script src="/js/storage/loadHomeSection.js"></script>
    <script src="/js/storage/loadServiceSection.js"></script>
    <script src="/js/storage/createNavigation.js"></script>
    <script src="/js/storage/home/searchForServices.js"></script>
    <script src="/js/storage/serviceStorage/createFolder.js"></script>
    <script src="/js/storage/serviceStorage/fileSelection.js"></script>
    <script src="/js/storage/serviceStorage/downloadFiles.js"></script>
    <script src="/js/storage/serviceStorage/removeFiles.js"></script>
    <script src="/js/storage/serviceStorage/uploadFile.js"></script>
    <script src="/js/storage/serviceStorage/browseFolder.js"></script>
    <script src="/js/storage/serviceStorage/changeDisplay.js"></script>
    <script src="/js/storage/serviceStorage/folderMenu.js"></script>
    <script src="/js/storage/serviceStorage/fileMenu.js"></script>
    <script src="/js/storage/serviceStorage/fileDetail.js"></script>
    <script src="/js/storage/serviceStorage/moveElement.js"></script>
    <script src="/js/storage/serviceStorage/renameFolder.js"></script>
    <script src="/js/storage/serviceStorage/removeFolder.js"></script>
    <script src="/js/storage/serviceStorage/searchForElements.js"></script>
    <script src="/js/storage/serviceStorage/serviceSocket.js"></script>
    <script src="/js/storage/initialize.js"></script>
  </body>
</html>
