<!DOCTYPE html>
<html>
  <title>Library - Configuration</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/init.css" />
  <body>
    <div class='welcome'>
      <div class='head'>BIENVENUE !</div>
      <div class='message'>Il s'agit de la première fois que l'application est lancée ou alors elle vient d'être mise à jour. Afin d'accéder à la configuration il faut entrer le mot de passe se trouvant dans un fichier nommé "password" à la racine du dossier contenant l'application.</div>
      <div id='fail' class='fail'></div>
      <input class='input' type='text' placeholder='Mot de passe' id='password' id='password' required />
      <button class='send' id='send'>Envoyer</button>
    </div>
    <script src='/js/jQuery.js'></script>
    <script src='/js/init/logon.js'></script>
  </body>
</html>