/****************************************************************************************************/

.asideMenu{ display:flex; flex-direction:row; justify-content:flex-start; flex-wrap:wrap; margin:0 0 40px 0; align-items:center; box-shadow:0 0.25rem 0.125rem 0 rgba(0,0,0,0.05); }

.asideMenuTitle{ color:#428BCA; padding:10px; text-align:center; }

.asideMenuTitleText{ font-size:1.5em; }

.asideMenuContent{ display:flex; flex-direction:row; justify-content:flex-start; flex-wrap:wrap; margin:0 0 0 20px; }

.asideMenuContentLink, .asideMenuContentLinkSelected{ display:block; padding:10px; cursor:pointer; text-decoration:none; font-size:1.3em; margin:0 20px 0 20px; }

.asideMenuContentLink{ color:#000000; }

.asideMenuContentLinkSelected, .asideMenuContentLink:hover{ color:#428BCA; }

/****************************************************************************************************/