/****************************************************************************************************/

.navigationBar{ display:flex; flex-direction:row; justify-content:flex-start; background-color:#759EB8; padding:20px; }

.navigationBarContent{ width:100%; display:flex; flex-direction:row; align-items:center; justify-content:space-between; font-family:roboto-light; }

.navigationBarContentAppName{ font-size:1.5em; color:#FFFFFF; text-transform:uppercase; }

.navigationBarContentMenu{ font-size:1.25em; display:flex; flex-direction:row; align-items:center; justify-content:flex-start; }

.navigationBarContentMenuElement, .navigationBarContentMenuElementSelected{ display:block; cursor:pointer; text-decoration:none; margin:0 20px 0 20px; }

.navigationBarContentMenuElement{ color:#FFFFFF; }

.navigationBarContentMenuElementSelected, .navigationBarContentMenuElement:hover{ color:#171219; }

/****************************************************************************************************/
