/****************************************************************************************************/

@import url('../fonts.css');
@import url('../navigation.css');
@import url('aside.css');

/****************************************************************************************************/

body{ margin:0; }

.storageBackground{ position:fixed; z-index:200; top:0; right:0; bottom:0; left:0; background-color:#000000; opacity:0.4; }

.storageSpinner{ box-sizing:border-box; padding:17px; position:fixed; z-index:300; background-color:#FFFFFF; border:1px solid #F0F0F0; border-radius:4px; width:100px; top:calc(50% - 50px); right:calc(50% - 50px); margin-bottom:40px; left:calc(50% - 50px); color:#428BCA; font-size:4em; }

.storagePopup{ position:absolute; z-index:300; top:80px; width:400px; max-width:400px; left:calc(50% - 200px); margin:0 0 40px 0; background-color:#FFFFFF; border:1px solid #E0E0E0; border-radius:4px; box-sizing:border-box; }

.storagePopupTitle{ font-family:roboto-light; line-height:24px; font-size:20px; padding:10px; border-bottom:1px solid #E0E0E0; }

.storagePopupSpinner{ font-size:3em; color:#5CB85C; width:calc(100% - 40px); padding:20px 20px 0 20px; text-align:center; }

.storagePopupMessage{ font-size:16px; line-height:24px; text-align:center; padding:20px; width:calc(100% - 40px); color:#428BCA; vertical-align:top; font-family:roboto-light; }

.storagePopupValidate{ cursor:pointer; border:none; border-radius:4px; font-size:14px; font-family:roboto-light; padding:4px 0 4px 0; width:100px; margin:10px 10px 10px calc(100% - 230px); color:#FFFFFF; background-color:#5CB85C; transition-duration:0.5s; -o-transition-duration:0.5s; -webkit-transition-duration:0.5s; }

.storagePopupValidate:hover{ background-color:#4BA74B; color:#000000; }

.storagePopupCancel{ cursor:pointer; border:none; border-radius:4px; font-size:14px; font-family:roboto-light; padding:4px 0 4px 0; width:100px; margin:10px; color:#FFFFFF; background-color:#D9534F; transition-duration:0.5s; -o-transition-duration:0.5s; -webkit-transition-duration:0.5s; }

.storagePopupCancel:hover{ background-color:#C8423E; color:#000000; }

.storagePopupErrorBlock{ padding:10px; }

.storagePopupErrorBlockMessage{ font-family:roboto-light; color:#D9534F; line-height:24px; font-size:16px; padding:10px; }

.storagePopupBlockClose{ cursor:pointer; border:none; border-radius:4px; font-size:14px; font-family:roboto-light; padding:4px 0 4px 0; width:100px; margin:10px 10px 10px calc(100% - 110px); color:#FFFFFF; background-color:#428BCA; transition-duration:0.5s; -o-transition-duration:0.5s; -webkit-transition-duration:0.5s; }

.storagePopupBlockClose:hover{ color:#000000; background-color:#317AB9; }

.storagePopupBlockDetail{ font-family:roboto-light-italic; color:#B0B0B0; line-height:18px; font-size:14px; padding:10px; }


.storageErrorBlock{ padding:20px; }

.storageErrorBlockIcon{ width:32px; display:inline-block; vertical-align:top; font-size:2em; color:#D9534F; }

.storageErrorBlockMessage{ width:calc(100% - 42px); display:inline-block; vertical-align:top; font-size:16px; line-height:24px; margin:4px 0 4px 10px; font-family:roboto-light; }

/****************************************************************************************************/
/* INFORMATIONS BLOCK 
/****************************************************************************************************/

.informationsBlock{ z-index:500; width:400px; top:20px; right:20px; position:fixed; font-family:roboto-light; font-size:1em; }

.informationsBlockError{ margin:0 0 10px 0; background-color:#D9534F; border-radius:4px; color:#FFFFFF; padding:10px; text-align:center; }

.informationsBlockMessage{ margin:0 0 10px 0; background-color:#428BCA; border-radius:4px; color:#FFFFFF; padding:10px; text-align:center; }

.informationsBlockSuccess{ margin:0 0 10px 0; background-color:#5CB85C; border-radius:4px; color:#FFFFFF; padding:10px; text-align:center; }

/****************************************************************************************************/

@media (max-width: 319px)
{
  .loader .box{ width:calc(100% - 40px); margin:20px; }

  .storagePopup{ width:calc(100% - 40px); left:20px; top:40px; }
}

@media (min-width: 320px) and (max-width: 479px)
{
  .loader .box{ width:calc(100% - 40px); margin:20px; }

  .storagePopup{ width:calc(100% - 40px); left:20px; top:40px; }
}

/****************************************************************************************************
* MAIN BLOCK                                                                                        *
****************************************************************************************************/

.storageMainBlock{ width:calc(100% - 310px); margin:40px 0 40px 0; display:inline-block; vertical-align:top; }

.mainBlockLocation{ font-size:24px; line-height:24px; padding:10px; border-bottom:1px solid #CCC; font-family:roboto-light; }

/****************************************************************************************************
* ERROR BLOCK                                                                                       *
****************************************************************************************************/

.shareAppErrorBlock{ width:600px; margin:20px calc(50% - 300px) 20px calc(50% - 300px); box-sizing:border-box; border:1px solid #E0E0E0; border-radius:4px; }

.shareAppErrorBlockMessage{ margin:20px; }

.shareAppErrorBlockMessageIcon{ display:inline-block; vertical-align:top; width:60px; color:#D9534F; }

.shareAppErrorBlockMessageText{ display:inline-block; vertical-align:top; width:calc(100% - 60px); font-size:18px; line-height:32px; font-family:roboto-light; }

.shareAppErrorBlockDetail{ font-size:16px; line-height:20px; color:#909090; font-family:roboto-light; margin:20px; }

/****************************************************************************************************/

@media (max-width: 319px)
{
  .storageMainBlock{ width:calc(100% - 60px); margin:20px 10px 20px 0; }
}

@media (min-width: 320px) and (max-width: 479px)
{
  .storageMainBlock{ width:calc(100% - 60px); margin:20px 10px 20px 0; }
}

@media (min-width: 480px) and (max-width: 639px)
{
  .storageMainBlock{ width:calc(100% - 60px); margin:20px 10px 20px 0; }
}

@media (min-width: 640px) and (max-width: 779px)
{
  .storageMainBlock{ width:calc(100% - 60px); margin:20px 10px 20px 0; }
}