<!DOCTYPE html>
<html>
  <% include include/head.ejs %>
  <body class='logon-body'>
    <div class='logon-form-popup'>
        <p class='logon-form-question'>404 - La page recherchée n'existe pas !</p>
        <p class='page-not-found-link' id='page-not-found-link'>Accueil</p>
    </div>
    <script src='/js/jQuery.js'></script>
    <script src='/js/404/link.js'></script>
  </body>
</html>