<!DOCTYPE html>
<html>
  <% include include/head.ejs %>
  <body class='logon-body'>
    <% include include/logs.ejs %>
    <div class='block-page'>
        <p class='message'><%= message %></p>
        <a class='link' href='/home'>Accueil</a>
    </div>
  </body>
</html>