<!DOCTYPE html>
<html>
  <title>Library - Erreur</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/block.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/logon.css" />
  <body>
    <div class='blockPage'>
      <div class='blockPageTitle'>Oops !</div>
      <div class='blockPageMessage'><%= message %></div>
      <a class='blockPageLink' href='<%= link %>'>Retour</a>
    </div>
  </body>
</html>