<!DOCTYPE html>
<html>
  <title>Library - Configuration</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/config.css" />
  <body>
    <div class='welcome'>
      <div class='head'>BIENVENUE !</div>
      <div class='message'>C'est la première fois que le serveur est lancé, vous voici donc sur la page de configuration de l'application.</br>Veuillez suivre les étapes ci-dessous avant de pouvoir commencer.</div>
      <div class='block'>
        <div class='title'>Base De Données</div>
        <div class='description'>Veuillez entrer ici les informations concernant la base de données à utiliser.</div>
        <div class='field'>
          <div class='label'>Adresse :</div>
          <input type='text' class='value' placeholder='Adresse' />
          <div class='info'>Entrez ici une adresse IP ou un nom DNS correspondant à l'adresse de votre serveur de base de données (exemple: 192.168.1.10).</div>
        </div>
        <div class='field'>
          <div class='label'>Utilisateur :</div>
          <input type='text' class='value' placeholder='Utilisateur' />
          <div class='info'>Entrez ici un nom d'utilisateur de la base de données.</div>
        </div>
        <div class='field'>
          <div class='label'>Mot de passe :</div>
          <input type='text' class='value' placeholder='Mot de passe' />
          <div class='info'>Entrez ici le mot de passe correspondant au compte entré juste au-dessus.</div>
        </div>
      </div>
      <button class='send'>Envoyer</button>
    </div>
  </body>
</html>