<!DOCTYPE html>
<html>
  <title>Library - Connexion</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/logon.css" />
  <body class='logon-body'>
    <% include include/logs.ejs %>
    <div class='logon-form-popup'>
      <p id='logon-form-title' class='logon-form-title'>CONNEXION</p>
      <form>
        <input placeholder='Adresse Email' id='logon-form-email-input' type='text' /></br>
        <input placeholder='Mot De Passe' id='logon-form-password-input' type='password' />
        <button id='logon-form-send-button' class='logon-form-send-button'><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        <a href='/reset-password' id='logon-form-forgotten-password' class='logon-form-question'>Mot de passe oublié ?</a>
      </form>
    </div>
    <% include include/scripts.ejs %>
    <script src='/js/index/logon.js'></script>
  </body>
</html>