<!DOCTYPE html>
<html>
  <title>Library - Connexion</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/logon.css" />
  <body class='logon-body'>
    <div id='main' class='main'>
      <div class='title'>Connexion</div>
      <div class='error' id='error'></div>
      <form id='form'>
        <div class='icon'><i class='fas fa-at'></i></div><!--
        --><input placeholder='Adresse Email' class='input' id='email' type='text' required />
        <div class='icon'><i class='fas fa-lock'></i></div><!--
        --><input placeholder='Mot De Passe' class='input' id='password' type='password' required />
        <button type='submit' id='send' class='send'>Envoyer</button>
      </form>
      <a href='/reset-password' class='question'>Mot de passe oublié ?</a>
    </div>
    <div id='background' class='background'>
      <div class='loader'>
        <div class='spinner'><i class='fas fa-circle-notch fa-spin'></i></div>
        <div class='message'>Vérification en cours...</div>
      </div>
    </div>
    <% include include/root_scripts.ejs %>
    <script src='/js/index/logon.js'></script>
    <script src='/js/fontawesome.js'></script>
  </body>
</html>