<!DOCTYPE html>
<html>
  <title>Library - Récupération</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
  <body>
    <% include include/logs.ejs %>
    <div class='reset-block'>
      <div class='title'>REINITIALISATION DU MOT DE PASSE</div>
      <% if(service == true){ %>
        <form class='form'>
          <input class='input' placeholder='Adresse Email' name='email' type='text' /><!-- @SuppressWhitespace
          --><button class='button'><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </form>
      <% } %>
      <a class='home' href='/'>Accueil</a>
    </div>
    <script src='/js/jQuery.js'></script>
    <script src='/js/functions.js'></script>
    <script src='/js/fontawesome.js'></script>
    <script src='/js/index/reset.js'></script>
  </body>
</html>