<!DOCTYPE html>
<html>
  <title>Library - Services</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/service.css" />
  <body class='private-section-body'>
    <% include include/menu.ejs %>
    <div class='services-main-block'>
      <% for(var key in services){ %><!-- @SuppressWhitespace
      --><a href='/service/<%= key %>' class='services-main-block-element'><%= services[key]['name'] %></a><!-- @SuppressWhitespace
      --><% } %>
    </div>
    <% include include/scripts.ejs %>
    <script src='/js/afk.js'></script>
  </body>
</html>