<div class="headerBlock">
  <div class="headerBlockIcon"><img src="/pictures/a.png" height="52px" width="77px" /></div>
  <div class="headerBlockValue">Intranet</div><!--
--><div class="headerBlockCorner">
    <div class="headerBlockCornerAccount">
      <div class="headerBlockCornerAccountValue"><%= account.email %></div><div class="headerBlockCornerAccountIcon"><i class="fas fa-user-circle"></i></div>
    </div><!--
 --><div class="headerBlockCornerBugs">
      <div class="headerBlockCornerBugsValue">Bugs</div><div class="headerBlockCornerBugsIcon"><i class="fas fa-bug"></i></div>
    </div>
  </div>
</div>