<nav id='nav-menu' class='nav-menu'>
  <p class='nav-menu-title'>LIBRARY</p><!-- @SuppressWhitespace
   --><div id='nav-menu-elements-container' class='nav-menu-elements-container'>
        <a href='/home' <% if(typeof(navigationLocation) !== 'undefined' && navigationLocation == 'home') { %> class='nav-menu-element-selected' <% } else { %> class='nav-menu-element' <% } %> id='home-link' name='home'>Accueil</a><!-- @SuppressWhitespace
        --><a href='/service' <% if(typeof(navigationLocation) !== 'undefined' && navigationLocation == 'services') { %> class='nav-menu-element-selected nav-menu-element-responsive' <% } else { %> class='nav-menu-element nav-menu-element-responsive' <% } %> id='services-link' name='services'>Services</a><!-- @SuppressWhitespace
        --><a href='/reports' <% if(typeof(navigationLocation) !== 'undefined' && navigationLocation == 'reports') { %> class='nav-menu-element-selected' <% } else { %> class='nav-menu-element' <% } %> id='reports-link' name='services'>Rapports</a><!-- @SuppressWhitespace
        --><a href='/admin/home' <% if(typeof(navigationLocation) !== 'undefined' && navigationLocation == 'admin') { %> class='nav-menu-element-selected menu-hidden-element-small' <% } else { %> class='nav-menu-element menu-hidden-element-small' <% } %> id='admin-link' name='admin'>Administration</a><!-- @SuppressWhitespace
        --><a href='/admin' <% if(typeof(navigationLocation) !== 'undefined' && navigationLocation == 'admin') { %> class='nav-menu-element-selected menu-hidden-element-large' <% } else { %> class='nav-menu-element menu-hidden-element-large' <% } %> id='admin-link' name='admin'>Administration</a><!-- @SuppressWhitespace
        --><a href='/logout' class='nav-menu-element' id='logout-link' name='logout'>Déconnexion</a>
      </div>
    <i id='report-button' class='fa fa-exclamation nav-menu-element-bug-report' aria-hidden="true"></i>
</nav>
<% include logs.ejs %>
<div class='nav-menu-separation-bar'></div>