<% include logs.ejs %>
<nav id='nav-menu' class='nav-menu'>
    <p class='nav-menu-title'>LIBRARY</p>
    <div id='nav-menu-elements-container' class='nav-menu-elements-container'></div>
    <i class='fa fa-exclamation nav-menu-element-bug-report' aria-hidden="true"></i>
</nav>
<div class='nav-menu-separation-bar'></div>