<nav class="navigationBar">
  <img src="/pictures/logo.png" alt="<%= strings.common.navigation.title %>" class="navigationBarLogo"><!--
  --><div class="navigationBarMenu">
    <div <% if(navigationBarLocation === 'home'){ %>class="navigationBarMenuElementSelected"<% } else{ %>class="navigationBarMenuElement"<% } %> onclick="navigationBarLinkToHome()">
      <div class="navigationBarMenuElementIcon"><i class="fas fa-home"></i></div>
      <div class="navigationBarMenuElementValue">Accueil</div>
    </div>
    <div <% if(navigationBarLocation === 'apps'){ %>class="navigationBarMenuElementSelected"<% } else{ %>class="navigationBarMenuElement"<% } %> onclick="navigationBarLinkToApps()">
      <div class="navigationBarMenuElementIcon"><i class="fas fa-cubes"></i></div>
      <div class="navigationBarMenuElementValue">Mes applications</div>
    </div>
    <div class="navigationBarMenuElement" onclick="navigationBarLinkToHome()">
      <div class="navigationBarMenuElementIcon"><i class="fas fa-paper-plane"></i></div>
      <div class="navigationBarMenuElementValue">Déconnexion</div>
    </div>
  </div>
</nav>