/****************************************************************************************************
POPUP
****************************************************************************************************/

@media all and (max-width: 767px)
{
  .admin-users-popup{ color:#FFFFFF; background-color:#334455; text-align:center; width:100%; height:100%; top:0; left:0; position:fixed; z-index:2; }
}

@media all and (min-width: 768px) and (max-width: 959px)
{
  .admin-users-popup{ color:#FFFFFF; background-color:#334455; text-align:center; width:100%; height:100%; top:0; left:0; position:fixed; z-index:2; }
}

@media all and (min-width: 960px) and (max-width: 1679px)
{
  .admin-users-popup{ color:#000000; text-align:center; width:30%; top:20%; left:35%; position:fixed; z-index:2; background-color:#FFFFFF; padding:1%; }
}

@media all and (min-width: 1680px)
{
  .admin-users-popup{ color:#000000; text-align:center; width:20%; top:20%; left:40%; position:fixed; z-index:2; background-color:#FFFFFF; padding:1%; }
}

/****************************************************************************************************
HOME
****************************************************************************************************/

.admin-users-table
{
  width:100%;
  table-layout:fixed;
  border-collapse:collapse;
}

.admin-users-table tr td
{ 
  padding:1%; 
  font-family:raleway-light;
}

.admin-users-table tr td{ cursor:pointer; }

.admin-users-table tr:hover
{
  font-weight:bold;
  background-color:#CCDDFF;
}

.admin-users-table .odd{ background-color:#FFFFFF; }

.admin-users-table .even{ background-color:#EEEEEE; }

.admin-users-table tr th
{
  padding:1%;
  color:white;
  text-align:left;
  background-color:#77B5FE;
  font-family:raleway-light-italic;
}

.admin-users-table td, .admin-users-table th
{
  overflow:hidden;
  text-overflow:ellipsis;
}

.admin-main-block
{
  margin:5% 0 5% 0;
  vertical-align:top;
}

.admin-main-block .info
{
  padding:1%;
  color:#FFFFFF;
  text-align:center;
  border-radius:8px;
  font-family:barlow;
  margin:2.5% 0 2.5% 0;
  border:1px solid #FFFACD;
  background-color:#CCC79A;
}

.admin-main-block .create
{
  border:none;
  cursor:pointer;
  color:#112233;
  font-size:large;
  border-radius:50%;
  background-color:#77B5FE;
}

.admin-main-block .create:hover
{
  background-color:#66A4ED;
}

@media all and (max-width: 479px)
{
  .admin-main-block{ margin:0 5% 0 5%; width:90%; }
  .admin-main-block .info{ width:50%; }
  .admin-main-block .create{ height:calc((100vw * 0.9) * 0.15); width:15%; margin:5% 0 0 85%; }

  th.admin-users-table-service{ display:none; }
  td.admin-users-table-service{ display:none; }
  th.admin-users-table-activated{ display:none; }
  td.admin-users-table-activated{ display:none; }
  th.admin-users-table-suspended{ display:none; }
  td.admin-users-table-suspended{ display:none; }
  th.admin-users-table-admin{ display:none; }
  td.admin-users-table-admin{ display:none; }

  th.admin-users-table-email{ width:40%; }
  th.admin-users-table-lastname{ width:30%; }
  th.admin-users-table-firstname{ width:30%; }
}

@media all and (min-width: 480px) and (max-width: 767px)
{
  .admin-main-block{ margin:0 5% 0 5%; width:90%; }
  .admin-main-block .info{ width:50%; }
  .admin-main-block .create{ height:calc((100vw * 0.9) * 0.1); width:10%; margin:5% 0 0 90%; }

  th.admin-users-table-service{ display:none; }
  td.admin-users-table-service{ display:none; }
  th.admin-users-table-activated{ display:none; }
  td.admin-users-table-activated{ display:none; }
  th.admin-users-table-suspended{ display:none; }
  td.admin-users-table-suspended{ display:none; }
  th.admin-users-table-admin{ display:none; }
  td.admin-users-table-admin{ display:none; }

  th.admin-users-table-email{ width:40%; }
  th.admin-users-table-lastname{ width:30%; }
  th.admin-users-table-firstname{ width:30%; }
}

@media all and (min-width: 768px) and (max-width: 959px)
{
  .admin-main-block{ display:inline-block; width:70%; }
  .admin-main-block .info{ width:40%; }
  .admin-main-block .create{ height:calc((100vw * 0.7) * 0.1); width:10%; margin:5% 0 0 90%; }

  th.admin-users-table-service{ display:none; }
  td.admin-users-table-service{ display:none; }
  th.admin-users-table-activated{ display:none; }
  td.admin-users-table-activated{ display:none; }
  th.admin-users-table-suspended{ display:none; }
  td.admin-users-table-suspended{ display:none; }

  th.admin-users-table-email{ width:35%; }
  th.admin-users-table-lastname{ width:25%; }
  th.admin-users-table-firstname{ width:25%; }
  th.admin-users-table-admin{ width:15%; }
}

@media all and (min-width: 960px) and (max-width: 1279px)
{
  .admin-main-block{ display:inline-block; width:75%; }
  .admin-main-block .info{ width:30%; }
  .admin-main-block .create{ height:calc((100vw * 0.75) * 0.075); width:7.5%; margin:5% 0 0 92.5%; }

  th.admin-users-table-activated{ display:none; }
  td.admin-users-table-activated{ display:none; }
  th.admin-users-table-suspended{ display:none; }
  td.admin-users-table-suspended{ display:none; }

  th.admin-users-table-email{ width:30%; }
  th.admin-users-table-lastname{ width:20%; }
  th.admin-users-table-firstname{ width:20%; }
  th.admin-users-table-service{ width:20%; }
  th.admin-users-table-admin{ width:10%; }
}

@media all and (min-width: 1280px) and (max-width: 1679px)
{
  .admin-main-block{ display:inline-block; width:75%; }
  .admin-main-block .info{ width:30%; }
  .admin-main-block .create{ height:calc((100vw * 0.75) * 0.06); width:6%; margin:5% 0 0 94%; }

  th.admin-users-table-email{ width:25%; }
  th.admin-users-table-lastname{ width:15%; }
  th.admin-users-table-firstname{ width:15%; }
  th.admin-users-table-service{ width:15%; }
  th.admin-users-table-activated{ width:10%; }
  th.admin-users-table-suspended{ width:10%; }
  th.admin-users-table-admin{ width:10%; }
}

@media all and (min-width: 1680px)
{
  .admin-main-block{ display:inline-block; width:75%; }
  .admin-main-block .info{ width:20%; }
  .admin-main-block .create{ height:calc((100vw * 0.75) * 0.05); width:5%; margin:5% 0 0 95%; }

  th.admin-users-table-email{ width:25%; }
  th.admin-users-table-lastname{ width:15%; }
  th.admin-users-table-firstname{ width:15%; }
  th.admin-users-table-service{ width:15%; }
  th.admin-users-table-activated{ width:10%; }
  th.admin-users-table-suspended{ width:10%; }
  th.admin-users-table-admin{ width:10%; }
}