@import url('fonts.css');
@import url('awesome.css');
@import url('logon.css');
@import url('home.css');
@import url('navigation.css');
@import url('service.css');
@import url('popup.css');
@import url('admin.css');
@import url('report.css');
@import url('aside.css');
@import url('forgotten_password.css');

.logs-block
{
  top:5%;
  left:20%;
  width:60%;
  position:fixed;
}

.block-page-message
{
  color:#223344;
  font-size:large;
  text-align:center;
  font-family:barlow;
}

.error-popup
{
  width:100%;
  padding:1%;
  margin-top:1%;
  color:#FFFFFF;
  text-align:center;
  border-radius:8px;
  font-family:barlow;
  border:1px solid #E84E4F;
  background-color:#9C2B2E;
}

.success-popup
{
  width:100%;
  padding:1%;
  margin-top:1%;
  color:#FFFFFF;
  text-align:center;
  border-radius:8px;
  font-family:barlow;
  border:1px solid #77B5FE;
  background-color:#4482CB;
}

.message-popup
{
  width:100%;
  padding:1%;
  margin-top:1%;
  color:#000000;
  text-align:center;
  border-radius:8px;
  font-family:barlow;
  border:1px solid #FFFACD;
  background-color:#CCC79A;
}

.page-not-found-link
{
  width:10%;
  cursor:pointer;
  color:#112233;
  text-align:right;
  margin:5% 5% 5% 5%;
  font-family:raleway-light;
}

.page-not-found-link:hover
{
  color:#FF0921;
}

.private-section-body
{
  margin:0;
  background-color:#FFFFFF;
}