@import url('fonts.css');
@import url('awesome.css');
@import url('logon.css');
@import url('home.css');
@import url('navigation.css');
@import url('service.css');
@import url('popup.css');
@import url('forgotten_password.css');

.logs-block
{
  top:5%;
  left:20%;
  width:60%;
  position:fixed;
}

.error-popup
{
  width:100%;
  padding:1%;
  margin-top:1%;
  color:#FFFFFF;
  text-align:center;
  border-radius:8px;
  font-family:barlow;
  border:1px solid #E84E4F;
  background-color:#9C2B2E;
}

.success-popup
{
  width:100%;
  padding:1%;
  margin-top:1%;
  color:#FFFFFF;
  text-align:center;
  border-radius:8px;
  font-family:barlow;
  border:1px solid #77B5FE;
  background-color:#4482CB;
}

.message-popup
{
  width:100%;
  padding:1%;
  margin-top:1%;
  color:#000000;
  text-align:center;
  border-radius:8px;
  font-family:barlow;
  border:1px solid #FFFACD;
  background-color:#CCC79A;
}

.page-not-found-link
{
  width:10%;
  cursor:pointer;
  color:#112233;
  text-align:right;
  margin:5% 5% 5% 5%;
  font-family:raleway-light;
}

.page-not-found-link:hover
{
  color:#FF0921;
}

.private-section-body
{
  margin:0;
  background-color:#FFFFFF;
}

.aside-navigation-block
{
  display:inline-block;
  list-style-type:none;
}

.aside-navigation-block-element
{
  cursor:pointer;
  font-family:raleway-light;
}

.aside-navigation-block-element:hover
{
  color:#77B5FE;
  background-color:#EEEEEE;
}

.aside-navigation-block-element-selected
{
  cursor:pointer;
  color:#77B5FE;
  padding:10% 0 10% 15%;
  font-family:raleway-light;
}

.aside-navigation-block-element-selected:hover
{
  background-color:#EEEEEE;
}

@media all and (max-width: 767px)
{
  .aside-navigation-block{ margin-top:2%; width:100%; }
  .aside-navigation-block-element{ padding:5% 0 5% 5%; }
  .aside-navigation-block-element-selected{ padding:5% 0 5% 5%; }
}

@media all and (min-width: 768px) and (max-width: 959px)
{
  .aside-navigation-block{ margin-top:5%; width:20%; }
  .aside-navigation-block-element{ padding:10% 0 10% 15%; }
  .aside-navigation-block-element-selected{ padding:5% 0 5% 5%; }
}

@media all and (min-width: 960px) and (max-width: 1679px)
{
  .aside-navigation-block{ margin-top:5%; width:20%; }
  .aside-navigation-block-element{ padding:10% 0 10% 15%; }
  .aside-navigation-block-element-selected{ padding:10% 0 10% 15%; }
}

@media all and (min-width: 1680px)
{
  .aside-navigation-block{ margin-top:5%; width:20%; }
  .aside-navigation-block-element{ padding:10% 0 10% 15%; }
  .aside-navigation-block-element-selected{ padding:10% 0 10% 15%; }
}