/****************************************************************************************************/

.file-main-block{ margin:5% 2.5% 5% 2.5%; display:inline-block; vertical-align:top; }

.file-main-block .name{ font-size:large; font-family:barlow; margin:2.5% 5% 2.5% 5%; }

.file-main-block .type{ font-size:large; font-family:barlow; margin:2.5% 5% 2.5% 5%; }

.file-main-block .return{ display:block; cursor:pointer; font-size:large; font-family:raleway-regular; color:#FFFFFF; border:none; background-color:#8ED744; }

.file-main-block .actions .download{ cursor:pointer; font-size:large; font-family:raleway-regular; color:#FFFFFF; border:none; background-color:#77B5FE; }

.file-main-block .actions .delete{ cursor:pointer; font-size:large; font-family:raleway-regular; color:#FFFFFF; border:none; background-color:#FF0921; }

.file-main-block .actions .comment{ cursor:pointer; font-size:large; font-family:raleway-regular; color:#FFFFFF; border:none; background-color:#8ED744; }

.file-main-block .actions .download-inactive, .file-main-block .actions .delete-inactive, .file-main-block .actions .comment-inactive{ font-size:large; font-family:raleway-regular; color:#FFFFFF; border:none; background-color:#DDDDDD; }

.file-main-block .actions button{ overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }

.file-main-block .label{ text-align:center; display:inline-block; width:80%; }

.file-main-block .icon{ display:inline-block; width:20%; }

.file-main-block .return:hover{ color:#223344; }

.file-main-block .actions button:hover{ color:#223344; }

.file-main-block .actions .delete-inactive:hover, .file-main-block .actions .download-inactive:hover, .file-main-block .actions .comment-inactive:hover{ color:#FFFFFF; }

.file-main-block .actions .deleted{ color:#FF0921; font-family:barlow; margin:5% 5% 5% 5%; text-align:right; font-size:large; }

/****************************************************************************************************/

.file-main-block .comments{ border-radius:4px; border:1px solid #DDD; background-color:#F9F9F9; margin:5% 0 5% 0; padding:1%; }

.file-main-block .comments .download-log{ margin:1% 0 1% 0; background-color:#E6E6FA; border-radius:4px; border:1px solid #C4C4D8; padding:1% 0 1% 0; }

.file-main-block .comments .upload-log{ margin:1% 0 1% 0; background-color:#B0F2B6; border-radius:4px; border:1px solid #90D094; padding:1% 0 1% 0; }

.file-main-block .comments .remove-log{ margin:1% 0 1% 0; background-color:#F08080; border-radius:4px; border:1px solid #D06060; padding:1% 0 1% 0; }

.file-main-block .comments .comment-log{ margin:1% 0 1% 10%; background-color:#FEFDF0; border-radius:4px; border:1px solid #DCDBD0; padding:1% 0 1% 0; }

.file-main-block .comments .date{ font-family:barlow; }
.file-main-block .comments .content{ font-family:barlow; }
.file-main-block .comments .comment{ font-family:barlow-italic; background-color:#FFFFFF; border-radius:4px; border:1px solid #DDDDDD; margin:1% 5% 1% 5%; padding:1%; }

/****************************************************************************************************/

.file-popup{ background-color:#FFFFFF; z-index:1; padding:0; overflow:auto; position:fixed; }

.file-popup-title{ text-align:center; font-size:large; font-family:raleway-regular; margin:5%; }

.file-popup-error{ margin:5%; font-family:raleway-light; color:#FF0921; }

.file-popup-description{ margin:2.5% 5% 2.5% 5%; width:calc(85% - 2px); padding:2.5%; resize:none; }

.file-popup-send{ color:#FFFFFF; border-radius:4px; background-color:#77B5FE; border:none; margin:0 2.5% 5% 50%; width:20%; text-align:center; padding:2% 0 2% 0; font-size:large; cursor:pointer; }

.file-popup-cancel{ color:#FFFFFF; border-radius:4px; background-color:#FF0921; border:none; margin:0 5% 5% 2.5%; width:20%; text-align:center; padding:2% 0 2% 0; font-size:large; cursor:pointer; }

.file-popup-send:hover{ color:#223344; background-color:#5593DC; }

.file-popup-cancel:hover{ color:#223344; background-color:#DD0700; }

.file-popup-spinner{ margin:0 2.5% 5% 87.5%; width:7.5%; }

/****************************************************************************************************/

@media (max-width: 479px)
{
  .file-main-block{ width:95%; }

  .file-main-block .info{ width:100%; }

  .file-main-block .actions{ width:100%; }

  .file-main-block .return{ width:30%; padding:1.5% 2.5% 1.5% 2.5%; margin:2.5% 5% 2.5% 5%; }

  .file-main-block .actions button{ width:60%; margin:2.5% 0 0 40%; padding:1.5% 2.5% 1.5% 2.5%; }

  .file-popup{ width:100%; top:0; left:0; height:100%; }

  .file-popup-spinner{ font-size:calc(100vw * 0.075); }

  .file-main-block .comments .date{ margin:0 2.5% 0 2.5%; }
  .file-main-block .comments .content{ margin:1% 2.5% 0 2.5%; }
}

@media (min-width: 480px) and (max-width: 639px)
{
  .file-main-block{ width:95%; }

  .file-main-block .info{ width:100%; }

  .file-main-block .actions{ width:100%; }

  .file-main-block .return{ width:30%; padding:1.5% 2.5% 1.5% 2.5%; margin:2.5% 5% 2.5% 5%; }

  .file-main-block .actions button{ width:50%; margin:2.5% 0 0 50%; padding:1.5% 2.5% 1.5% 2.5%; }

  .file-popup{ width:100%; top:0; left:0; height:100%; }

  .file-popup-spinner{ font-size:calc(100vw * 0.075); }

  .file-main-block .comments .date{ margin:0 2.5% 0 2.5%; }
  .file-main-block .comments .content{ margin:1% 2.5% 0 2.5%; }
}

@media (min-width: 640px) and (max-width: 767px)
{
  .file-main-block{ width:95%; }

  .file-main-block .info{ width:100%; }
  
  .file-main-block .actions{ width:100%; }

  .file-main-block .return{ width:20%; padding:1.5% 2.5% 1.5% 2.5%; margin:2.5% 5% 2.5% 5%; }

  .file-main-block .actions button{ width:30%; margin:5% 0 5% 2.5%; padding:1.5% 2.5% 1.5% 2.5%; }

  .file-popup{ width:100%; top:0; left:0; height:100%; }

  .file-popup-spinner{ font-size:calc(100vw * 0.075); }

  .file-main-block .comments .date{ margin:0 2.5% 0 2.5%; display:inline-block; }
  .file-main-block .comments .content{ margin:0 2.5% 0 0; display:inline-block; vertical-align:top; }
}

@media (min-width: 768px) and (max-width: 959px)
{
  .file-main-block{ width:75%; }

  .file-main-block .info{ width:100%; }
  
  .file-main-block .actions{ width:100%; }

  .file-main-block .return{ width:15%; padding:1.5% 2.5% 1.5% 2.5%; margin:2.5% 5% 2.5% 5%; }

  .file-main-block .actions .delete{ width:30%; margin:5% 0 5% 2.5%; padding:1.5% 2.5% 1.5% 2.5%; }
  
  .file-main-block .actions .download{ width:30%; margin:5% 0 5% 2.5%; padding:1.5% 2.5% 1.5% 2.5%; }

  .file-main-block .actions .comment{ width:30%; margin:5% 0 5% 2.5%; padding:1.5% 2.5% 1.5% 2.5%; }

  .file-main-block .actions .download-inactive{ width:30%; margin:5% 0 5% 2.5%; padding:1.5% 2.5% 1.5% 2.5%; }

  .file-main-block .actions .delete-inactive{ width:30%; margin:5% 0 5% 2.5%; padding:1.5% 2.5% 1.5% 2.5%; }

  .file-main-block .actions .comment-inactive{ width:30%; margin:5% 0 5% 2.5%; padding:1.5% 2.5% 1.5% 2.5%; }

  .file-popup{ border-radius:4px; width:60%; top:10%; margin-bottom:10%; left:20%; }

  .file-popup-spinner{ font-size:calc(60vw * 0.075); }

  .file-main-block .comments .date{ margin:0 2.5% 0 2.5%; display:inline-block; }
  .file-main-block .comments .content{ margin:0 2.5% 0 0; display:inline-block; vertical-align:top; }
}

@media (min-width: 960px) and (max-width: 1279px)
{
  .file-main-block{ width:75%; }

  .file-main-block .info{ width:100%; }
  
  .file-main-block .actions{ width:100%; }

  .file-main-block .return{ width:15%; padding:1.5% 2.5% 1.5% 2.5%; margin:2.5% 5% 2.5% 5%; }

  .file-main-block .actions .delete{ width:30%; margin:5% 0 5% 2.5%; padding:1.5% 2.5% 1.5% 2.5%; }

  .file-main-block .actions .download{ width:30%; margin:5% 0 5% 2.5%; padding:1.5% 2.5% 1.5% 2.5%; }

  .file-main-block .actions .comment{ width:30%; margin:5% 0 5% 2.5%; padding:1.5% 2.5% 1.5% 2.5%; }

  .file-main-block .actions .download-inactive{ width:30%; margin:5% 0 5% 2.5%; padding:1.5% 2.5% 1.5% 2.5%; }

  .file-main-block .actions .delete-inactive{ width:30%; margin:5% 0 5% 2.5%; padding:1.5% 2.5% 1.5% 2.5%; }

  .file-main-block .actions .comment-inactive{ width:30%; margin:5% 0 5% 2.5%; padding:1.5% 2.5% 1.5% 2.5%; }

  .file-popup{ border-radius:4px; width:40%; top:10%; margin-bottom:10%; left:30%; }

  .file-popup-spinner{ font-size:calc(40vw * 0.075); }

  .file-main-block .comments .date{ margin:0 2.5% 0 2.5%; display:inline-block; }
  .file-main-block .comments .content{ margin:0 2.5% 0 0; display:inline-block; vertical-align:top; }
}

@media (min-width: 1280px) and (max-width: 1679px)
{
  .file-main-block{ width:75%; }

  .file-main-block .return{ width:12.5%; padding:1% 2.5% 1% 2.5%; margin:5% 5% 2.5% calc(70% * 0.05); }

  .file-main-block .info{ width:70%; margin:0 5% 0 0; display:inline-block; }
  
  .file-main-block .actions{ width:25%; display:inline-block; vertical-align:top; }

  .file-main-block .actions button{ width:70%; margin:0 15% 5% 15%; padding:2.5% 2.5% 2.5% 2.5%; }

  .file-popup{ border-radius:4px; width:30%; top:10%; margin-bottom:10%; left:35%; }

  .file-popup-spinner{ font-size:calc(30vw * 0.075); }

  .file-main-block .comments .date{ margin:0 2.5% 0 2.5%; display:inline-block; }
  .file-main-block .comments .content{ margin:0 2.5% 0 0; display:inline-block; vertical-align:top; }
}

@media (min-width: 1680px)
{
  .file-main-block{ width:70%; }

  .file-main-block .return{ width:10%; padding:1% 2.5% 1% 2.5%; margin:5% 5% 2.5% calc(70% * 0.05); }

  .file-main-block .info{ width:70%; margin:0 5% 0 0; display:inline-block; }
  
  .file-main-block .actions{ width:25%; display:inline-block; vertical-align:top; }

  .file-main-block .actions button{ width:70%; margin:0 15% 5% 15%; padding:2.5% 2.5% 2.5% 2.5%; }

  .file-popup{ border-radius:4px; width:20%; top:10%; margin-bottom:10%; left:40%; }

  .file-popup-spinner{ font-size:calc(20vw * 0.075); }

  .file-main-block .comments .date{ margin:0 2.5% 0 2.5%; display:inline-block; }
  .file-main-block .comments .content{ margin:0 2.5% 0 0; display:inline-block; vertical-align:top; }
}

/****************************************************************************************************/