input
{
  width:60%;
  padding:8px;
  margin:0 20% 16px 20%;
  border:1px solid #DDDDDD;
}

.forgotten-password-form-title
{
  color:#334455;
  text-align:center;
  font-size:x-large;
  font-family:oneday;
}

::-webkit-input-placeholder 
{
  color:#BBBBBB;
}

.forgotten-password-form-send-button
{
  width:10%;
  border:none;
  padding:4px;
  color:white;
  cursor:pointer;
  font-size:large;
  text-align:center;
  font-family:agency;
  margin:0 20% 16px 70%;
  background-color:#77B5FE;
}

.forgotten-password-form-send-button:hover
{
  background-color:#66A4ED;
}

.forgotten-password-form-error-message
{
  width:80%;
  font-size:large;
  color:#FF0921;
  text-align:center;
  font-family:Arial;
  margin:0 10% 16px 10%;
}

.forgotten-password-form-link
{
  width:60%;
  cursor:pointer;
  color:#667788;
  font-family:Arial;
  font-style:italic;
  margin:0 20% 16px 20%;
  text-decoration:underline;
}

.forgotten-password-form-link:hover
{
  color:#223344;
}

.forgotten-password-form-info-message
{
  width:60%;
  color:#334455;
  text-align:center;
  font-family:Arial;
  margin:0 20% 16px 20%;
}

.forgotten-password-form-email-address
{
    color:#77B5FE;
    font-family:Arial;
    font-style:italic;
    display:inline-block;
    text-decoration:underline;
}

@media all and (max-width: 767px)
{
  .forgotten-password-form-popup{ padding:32px; background-color:#FFFFFF; width:100%; margin:0; }
}

@media all and (min-width: 768px) and (max-width: 959px)
{
  .forgotten-password-form-popup{ padding:32px; background-color:#FFFFFF; width:100%; margin:0; }
}

@media all and (min-width: 960px) and (max-width: 1679px)
{
  .forgotten-password-form-popup{ padding:32px; background-color:#FFFFFF; width:45%; margin:5% 30% 5% 25%; }
}

@media all and (min-width: 1680px)
{
  .forgotten-password-form-popup{ padding:32px; background-color:#FFFFFF; width:30%; margin:5% 35% 5% 30%; }
}