.home-news-block
{
    margin:0;
    font-family:Arial;
    display:inline-block;
    vertical-align:top;
}

.home-news-block-element
{
    margin:0 0 2px 0;
    padding:2% 5% 2% 5%;
    background-color:#FFFFFF;
}

.home-news-block-element-title
{
    color:#334455;
    font-size:x-large;
    font-family:raleway-light-italic;
}

.home-news-block-element-date
{
    font-size:large;
    color:#556677;
}

.home-news-block-element-content
{
    color:#223344;
    text-align:justify;
    font-family:raleway-light;
}

@media all and (max-width: 767px)
{
    .home-news-block{ width:90%; }
}

@media all and (min-width: 768px) and (max-width: 959px)
{
    .home-news-block{ width:60%; }
}

@media all and (min-width: 960px) and (max-width: 1679px)
{
    .home-news-block{ width:60%; }
}

@media all and (min-width: 1680px)
{
    .home-news-block{ width:60%; }
}