.home-news-block{ vertical-align:top; display:inline-block; }

.home-news-block-element{ background-color:#FFFFFF; box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); padding:10px; margin:0 0 10px 0; }

.home-news-block-element-title{ font-size:24px; padding:10px 5px 0 5px; color:#334455; font-family:Arial; }

.home-news-block-element-date{ font-size:20px; color:#556677; padding:10px 5px 0 5px; font-family:Arial; }

.home-news-block-element-content{ color:#223344; text-align:justify; font-family:raleway-light; font-size:16px; padding:10px 5px 10px 5px; }

@media all and (max-width: 639px)
{
    .home-news-block{ width:90%; margin:40px 5% 40px 5%; }
}

@media all and (min-width: 640px) and (max-width: 767px)
{
    .home-news-block{ width:90%; margin:40px 5% 40px 5%; }
}

@media all and (min-width: 768px) and (max-width: 959px)
{
    .home-news-block{ width:75%; margin:40px 2.5% 40px 2.5%; }
}

@media all and (min-width: 960px) and (max-width: 1679px)
{
    .home-news-block{ width:75%; margin:40px 2.5% 40px 2.5%; }
}

@media all and (min-width: 1680px)
{
    .home-news-block{ width:60%; margin:40px 2.5% 40px 2.5%; }
}