/****************************************************************************************************/

.navigation{ margin:0; width:100%; background-color:#428BCA; box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); }

.navigation .title{ font-family:raleway-regular; font-size:32px; color:#FFFFFF; line-height:40px; padding:5px 0 5px 0; box-sizing:border-box; display:inline-block; vertical-align:top; overflow:hidden; text-overflow:ellipsis; }

.navigation .menu{ display:inline-block; position:relative; }

.navigation .menu .icon{ color:#FFFFFF; cursor:pointer; font-size:20px; line-height:24px; margin:13px 20px 13px 20px; width:20px; text-align:center; }

.navigation .menu .icon:hover{ color:#7EDA7E; }

.navigation .menu .list{ display:none; background-color:#FFFFFF; position:absolute; width:300px; top:50px; left:0; z-index:10; box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); }

.navigation .menu .list .link{ display:block; color:#000000; text-decoration:none; cursor:pointer; font-family:raleway-regular; font-size:16px; line-height:24px; padding:10px 20px 10px 20px; border-bottom:1px solid #F0F0F0; }

.navigation .menu .list .link:hover{ color:#428BCA; background-color:#F0F0F0; }

.navigation .menu .list .link .value{ width:calc(100% - 25px); display:inline-block; }

.navigation .menu .list .link .arrow{ width:20px; margin:0 0 0 5px; display:inline-block; vertical-align:top; text-align:center; }

.navigation .menu .list .apps{ display:none; background-color:#F9F9F9; }

.navigation .menu .list .apps .empty{ box-sizing:border-box; font-family:barlow; line-height:18px; font-size:14px; padding:10px 10px 10px 30px; }

.navigation .menu .list .apps .app{ box-sizing:border-box; width:calc(100% - 20px); display:block; background-color:#428BCA; border-bottom:1px solid #FFFFFF; color:#FFFFFF; text-decoration:none; font-family:barlow; line-height:18px; font-size:14px; padding:10px; }

.navigation .menu .list .apps .app:hover{ background-color:#5CB85C; width:100%; transition:200ms; }

.navigation .menu .list .apps .app .left{ display:inline-block; width:30px; text-align:center; line-height:24px; font-size:20px; }

.navigation .menu .list .apps .app .right{ display:inline-block; margin:0 0 0 5px; width:calc(100% - 35px); line-height:24px; font-size:16px; }

.navigation .account{ display:inline-block; vertical-align:top; position:relative; }

.navigation .account .header{ color:#FFFFFF; width:max-content; cursor:pointer; margin:13px 20px 13px 20px; position:absolute; right:0; overflow:hidden; text-overflow:ellipsis; }

.navigation .account .header:hover{ color:#7EDA7E; }

.navigation .account .header .value{ font-family:barlow; font-size:16px; line-height:24px; text-align:center; display:inline-block; }

.navigation .account .header .icon{ font-size:20px; line-height:24px; width:20px; margin:0 0 0 10px; text-align:center; display:inline-block; vertical-align:top; }

.navigation .account .list{ display:none; background-color:#FFFFFF; position:absolute; width:300px; top:50px; right:0; left:calc(100% - 300px); z-index:10; box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); }

.navigation .account .list .link{ display:block; color:#000000; text-decoration:none; cursor:pointer; font-family:raleway-regular; font-size:16px; line-height:24px; padding:10px 20px 10px 20px; border-bottom:1px solid #F0F0F0; }

.navigation .account .list .link:hover{ color:#428BCA; background-color:#F0F0F0; }

.navigation .bug{ cursor:pointer; width:20px; margin:13px 20px 13px 20px; color:#FFFFFF; font-size:20px; line-height:24px; display:inline-block; vertical-align:top; text-align:center; }

.navigation .bug:hover{ color:#FF0F0F; }

/****************************************************************************************************/

@media all and (max-width: 639px)
{
  .navigation .title{ width:calc(100% - 180px); text-align:left; }

  .navigation .logo{ display:none; }

  .navigation .account{ width:60px; }

  .navigation .account .header .value{ display:none; }

  .navigation .account .header .icon{ margin:0; }

  .navigation .menu .list{ width:200px; }

  .navigation .account .list{ width:200px; }
}

/****************************************************************************************************/

@media all and (min-width: 640px) and (max-width: 767px)
{
  .navigation .title{ width:calc(100% - 180px); text-align:left; }

  .navigation .account{ width:60px; }

  .navigation .account .header .value{ display:none; }

  .navigation .account .header .icon{ margin:0; }
}

/****************************************************************************************************/

@media all and (min-width: 768px) and (max-width: 959px)
{
  .navigation .title{ width:250px; text-align:left; }

  .navigation .account{ width:calc(100% - 370px); }
}

/****************************************************************************************************/

@media all and (min-width: 960px) and (max-width: 1279px)
{
  .navigation .title{ width:300px; text-align:left; }

  .navigation .account{ width:calc(100% - 420px); }
}

/****************************************************************************************************/

@media all and (min-width: 1280px) and (max-width: 1679px)
{
  .navigation .title{ width:400px; text-align:left; }

  .navigation .account{ width:calc(100% - 520px); }
}

/****************************************************************************************************/

@media all and (min-width: 1680px)
{
  .navigation .title{ width:400px; text-align:left; }

  .navigation .account{ width:calc(100% - 520px); }
}

/****************************************************************************************************/