/****************************************************************************************************/

.nav-menu
{
  margin:0;
  width:100%;
  font-family:raleway-regular;
  background-color:#6985BF;
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.nav-menu-title
{
  margin:0;
  text-align:center;
  font-size:xx-large;
}

.nav-menu-elements-container
{
  vertical-align:top;
}

.nav-menu-element-bug-report
{
  top:10px;
  width:10px;
  cursor:pointer;
  color:#FFFFFF;
  position:absolute;
  font-size:x-large;
  left:calc(100% - 30px);
}

.nav-menu-element-bug-report:hover
{
  color:#FF0921;
}

.nav-menu-element
{
  cursor:pointer;
  font-size:large;
  text-align:center;
  text-decoration:none;
  font-family:raleway-regular;
}

.nav-menu-element-selected
{
  cursor:pointer;
  color:#77B5FE;
  font-size:large;
  text-align:center;
  text-decoration:none;
  font-family:raleway-regular;
}

.nav-menu-element:hover
{ 
  color:#77B5FE;
}

/****************************************************************************************************/

@media all and (max-width: 639px)
{
  .nav-menu
  {
    background-color:#334455;
  }

  .nav-menu-title
  {
    width:95%;
    color:#FFFFFF;
    padding:2.5% 2.5% 2.5% 2.5%;
  }

  .nav-menu-elements-container
  {
    padding:2.5% 2.5% 2.5% 2.5%;
  }

  .nav-menu-element, .nav-menu-element-selected
  {
    display:block;
    color:#FFFFFF;
    margin:2.5% 2.5% 2.5% 2.5%;
  }

  .nav-menu-element-selected
  {
    color:#77B5FE;
  }

  .menu-hidden-element-small{ display:none; }

  .nav-menu-separation-bar
  {
    display:none;
  }

  .nav-menu-element-bug-report
  {
    color:#FFFFFF;
  }
}

/****************************************************************************************************/

@media all and (min-width: 640px) and (max-width: 767px)
{
  .nav-menu
  {
    background-color:#334455;
  }

  .nav-menu-title
  {
    width:95%;
    color:#FFFFFF;
    padding:2.5% 2.5% 2.5% 2.5%;
  }

  .nav-menu-elements-container
  {
    padding:2.5% 2.5% 2.5% 2.5%;
  }

  .nav-menu-element, .nav-menu-element-selected
  {
    width:20%;
    color:#FFFFFF;
    display:inline-block;
    margin:2.5% 0 2.5% 0;
  }

  .nav-menu-element-selected
  {
    color:#77B5FE;
  }

  .menu-hidden-element-small{ display:none; }

  .nav-menu-separation-bar
  {
    display:none;
  }

  .nav-menu-element-bug-report
  {
    color:#FFFFFF;
  }
}

/****************************************************************************************************/

@media all and (min-width: 768px) and (max-width: 959px)
{
  .nav-menu-title
  {
    width:95%;
    padding:2.5% 2.5% 2.5% 2.5%;
  }

  .nav-menu-elements-container
  {
    padding:2.5% 2.5% 2.5% 2.5%;
  }

  .nav-menu-element, .nav-menu-element-selected
  {
    width:25%;
    color:#223344;
    display:inline-block;
    margin:2.5% 0 2.5% 0;
  }

  .nav-menu-element-selected
  {
    color:#77B5FE;
  }

  .menu-hidden-element-large{ display:none; }

  .nav-menu-element-responsive{ display:none; }
}

/****************************************************************************************************/

@media all and (min-width: 960px) and (max-width: 1679px)
{
  .nav-menu-title
  {
    width:20%;
    display:inline-block;
    padding:2.5% 2.5% 2.5% 2.5%;
  }

  .nav-menu-elements-container
  {
    width:70%;
    display:inline-block;
    padding:2.5% 5% 2.5% 0;
  }

  .nav-menu-element, .nav-menu-element-selected
  {
    width:20%;
    color:#223344;
    display:inline-block;
    margin:2.5% 2.5% 2.5% 2.5%;
  }

  .nav-menu-element-selected
  {
    color:#77B5FE;
  }

  .menu-hidden-element-large{ display:none; }

  .nav-menu-element-responsive{ display:none; }
}

/****************************************************************************************************/

@media all and (min-width: 1680px)
{
  .nav-menu-title
  {
    width:20%;
    display:inline-block;
    padding:2.5% 2.5% 2.5% 2.5%;
  }

  .nav-menu-elements-container
  {
    width:70%;
    display:inline-block;
    padding:2.5% 5% 2.5% 0;
  }

  .nav-menu-element, .nav-menu-element-selected
  {
    width:20%;
    color:#223344;
    margin:1% 1% 1% 1%;
    display:inline-block;
  }

  .nav-menu-element-selected
  {
    color:#77B5FE;
  }

  .menu-hidden-element-large{ display:none; }  

  .nav-menu-element-responsive{ display:none; }
}

/****************************************************************************************************/