/****************************************************************************************************/
/****************************************************************************************************/

.standardBackground{ position:fixed; z-index:290; top:0; right:0; bottom:0; left:0; background-color:#000000; opacity:0.5; }

.standardPopup{ max-width:500px; position:fixed; z-index:300; top:160px; right:calc(50% - 250px); margin:0 0 40px 0; left:calc(50% - 250px); background-color:#FFFFFF; border:1px solid #CCC; border-radius:4px; }

.standardPopupTitle{ padding:10px 20px 10px 20px; border-radius:4px 4px 0 0; border-bottom:1px solid #CCC; margin:0 0 20px 0; font-size:20px; line-height:24px; font-family:roboto-regular; }

.standardPopupMessage{ padding:10px 20px 10px 20px; font-size:16px; line-height:20px; font-family:roboto-light; }

.standardPopupConfirm{ border:1px solid #CCC; border-radius:4px; background-color:#FFFFFF; font-family:roboto-regular; font-size:16px; padding:5px; width:150px; margin:20px calc(50% - 170px) 20px 20px; cursor:pointer; }

.standardPopupConfirm:hover{ background-color:#6184D8; }

.standardPopupCancel{ border:1px solid #CCC; border-radius:4px; background-color:#FFFFFF; font-family:roboto-regular; font-size:16px; padding:5px; width:150px; margin:20px 20px 20px calc(50% - 170px); cursor:pointer; }

.standardPopupCancel:hover{ background-color:#D9534F; }

/****************************************************************************************************/
/****************************************************************************************************/

@media (max-width: 319.9px)
{
  .standardPopup{ width:calc(100% - 40px); top:20px; right:20px; left:20px; }

  .standardPopupConfirm, .standardPopupCancel{ margin:10px 20px 10px calc(100% - 170px); }
}

@media (min-width: 320px) and (max-width: 479.9px)
{
  .standardPopup{ width:calc(100% - 40px); top:20px; right:20px; left:20px; }

  .standardPopupConfirm, .standardPopupCancel{ margin:10px 20px 10px calc(100% - 170px); }
}

@media (min-width: 480px) and (max-width: 639.9px)
{
  .standardPopup{ width:calc(100% - 40px); top:20px; right:20px; left:20px; }
}

@media (min-width: 640px) and (max-width: 799.9px)
{

}

@media (min-width: 800px) and (max-width: 959.9px)
{

}

@media (min-width: 960px) and (max-width: 1119.9px)
{

}

@media (min-width: 1120px) and (max-width: 1279.9px)
{

}

@media (min-width: 1280px) and (max-width: 1439.9px)
{

}

@media (min-width: 1440px) and (max-width: 1599.9px)
{

}

@media (min-width: 1600px)
{

}

/****************************************************************************************************/
/****************************************************************************************************/