/****************************************************************************************************
TABLE
****************************************************************************************************/

.reports-main-block
{
  vertical-align:top;
  display:inline-block;
  margin:5% 2.5% 5% 2.5%;
}

.reports-main-block .counter
{
  color:#334455;
  font-size:large;
  font-weight:bold;
  text-align:right;
  font-family:barlow;
  margin:2.5% 2.5% 2.5% 2.5%;
}

.reports-main-block .filters
{
  margin:2.5% 2.5% 2.5% 2.5%;
}

.reports-main-block .filters .filter
{
  display:inline-block;
}

.reports-main-block .filters .filter input, .reports-main-block .filters .filter select
{
  width:auto;
  cursor:pointer;
  margin:0 2% 0 2%;
  display:inline-block;
}

.reports-main-block .filters .filter .label
{
  font-family:barlow;
  display:inline-block;
}

.reports-main-block .reports-table
{
  width:100%;
  table-layout:fixed;
  border-collapse:collapse;
}

.reports-main-block .reports-table .reports-table-legend-row
{
  color:#FFFFFF;
  font-size:large;
  text-align:left;
  background-color:#77B5FE;
  font-family:raleway-italic;
}

.reports-main-block .reports-table .reports-table-legend-row.admin
{
  background-color:#E84E4F;
}

.reports-main-block .admin-warning
{
  padding:1%;
  color:#FFFFFF;
  text-align:center;
  border-radius:8px;
  font-family:barlow;
  margin:2.5% 0 2.5% 0;
  background-color:#E84E4F;
}

.reports-main-block .reports-table td
{
  font-family:barlow;
  word-wrap:break-word;
  overflow-wrap:break-word;
}

.reports-main-block .reports-table tr.report
{
  cursor:pointer;
}

.reports-main-block .reports-table tr.report.even
{
  background-color:#EEEEEE;
}

.reports-main-block .reports-table tr.report.odd
{
  background-color:#FFFFFF;
}

.reports-main-block .reports-table tr.report:hover
{
  font-weight:bold;
  background-color:#CCDDFF;
}

.reports-main-block .report-detail .subject
{
  font-size:x-large;
  word-wrap:break-word;
  font-family:raleway-regular;
}

.reports-main-block .report-detail .label
{
  font-size:large;
  font-family:raleway-light;
}

.reports-main-block .report-detail .status
{
  font-size:large;
  font-family:raleway-italic;
}

.reports-main-block .report-detail .date
{
  font-size:large;
  color:#334455;
  font-family:barlow;
}

.reports-main-block .report-detail .type
{
  width:90%;
  font-size:large;
  margin:2.5% 5% 2.5% 5%;
  font-family:raleway-light;
}

.reports-main-block .report-detail .description
{
  width:90%;
  text-align:justify;
  margin:2.5% 5% 5% 5%;
  font-family:raleway-light;
}

.reports-main-block .report-detail .comment-button
{
  padding:2%;
  border:none;
  cursor:pointer;
  color:#FFFFFF;
  font-family:barlow;
  background-color:#77B5FE;
}

.reports-main-block .report-detail .comment-button:hover
{
  color:#000000;
}

.reports-main-block .report-detail .comments-block
{
  width:90%;
  margin:2.5% 5% 5% 5%;
}

.reports-main-block .report-detail .comments-block .title
{
  font-size:large;
  margin:2.5% 0 2.5% 0;
  font-family:raleway-light;
}

.reports-main-block .report-detail .comments-block .no-comment
{
  margin:5% 0 5% 0;
  text-align:center;
  font-family:raleway-italic;
}

.reports-main-block .report-detail .comments-block .comment
{
  color:#FFFFFF;
  border-radius:5px;
  margin:2.5% 0 2.5% 0;
  background-color:#778899;
}

.reports-main-block .report-detail .comments-block .log-0{ background-color:#77B5FE; }
.reports-main-block .report-detail .comments-block .log-1{ background-color:#CCC79A; }
.reports-main-block .report-detail .comments-block .log-2{ background-color:#77B5FE; }
.reports-main-block .report-detail .comments-block .log-3{ background-color:#E84E4F; }
.reports-main-block .report-detail .comments-block .log-4{ background-color:#7FDD4C; }

.reports-main-block .report-detail .comments-block .comment .log-date
{
  margin:0;
  color:#223344;
  font-size:large;
  font-family:barlow;
  padding:1% 2.5% 1% 2.5%;
}

.reports-main-block .report-detail .comments-block .comment .log-label
{
  margin:0;
  color:#223344;
  font-size:large;
  text-align:justify;
  padding:1% 2.5% 1% 2.5%;
  font-family:raleway-light;
}

.reports-main-block .report-detail .comments-block .comment .log-message
{
  margin:0 0 0 5%;
  color:#334455;
  text-align:justify;
  padding:1% 2.5% 2.5% 2.5%;
  font-family:raleway-italic;
}

/****************************************************************************************************/

@media all and (max-width: 639px)
{
  .reports-main-block{ width:95%; }
  .reports-main-block .filters .filter{ width:50%; }
  .reports-main-block .reports-table .hide{ display:none; }
  .reports-main-block .reports-table .reports-table-legend-row th, .reports-main-block .reports-table td{ padding:3%; }

  .reports-main-block .reports-table th.type{ width:19%; }
  .reports-main-block .reports-table th.status{ width:19%; }
  .reports-main-block .reports-table th.subject{ width:44%; }

  .reports-main-block .report-detail .subject{ width:90%; margin:5% 5% 5% 5%; }
  .reports-main-block .report-detail .label{ margin:2.5% 2.5% 2.5% 5%; display:inline-block; }
  .reports-main-block .report-detail .date{ width:60%; margin:2.5% 5% 2.5% 0; display:inline-block; vertical-align:top; }
  .reports-main-block .report-detail .status{ width:60%; margin:2.5% 5% 2.5% 0; display:inline-block; vertical-align:top; }

  .reports-main-block .report-detail .comment-button{ width:56%; margin:2.5% 0 2.5% 40%; }
}

/****************************************************************************************************/

@media all and (min-width: 640px) and (max-width: 767px)
{
  .reports-main-block{ width:95%; }
  .reports-main-block .filters .filter{ width:33%; }
  .reports-main-block .reports-table .hide{ display:none; }
  .reports-main-block .reports-table .reports-table-legend-row th, .reports-main-block .reports-table td{ padding:2.5%; }

  .reports-main-block .reports-table th.type{ width:20%; }
  .reports-main-block .reports-table th.status{ width:20%; }
  .reports-main-block .reports-table th.subject{ width:45%; }

  .reports-main-block .report-detail .subject{ width:90%; margin:5% 5% 5% 5%; }
  .reports-main-block .report-detail .label{ margin:2.5% 2.5% 2.5% 5%; display:inline-block; }
  .reports-main-block .report-detail .date{ width:60%; margin:2.5% 5% 2.5% 0; display:inline-block; vertical-align:top; }
  .reports-main-block .report-detail .status{ width:60%; margin:2.5% 5% 2.5% 0; display:inline-block; vertical-align:top; }

  .reports-main-block .report-detail .comment-button{ width:40%; margin:2.5% 0 2.5% 60%; }
}

/****************************************************************************************************/

@media all and (min-width: 768px) and (max-width: 959px)
{
  .reports-main-block{ width:75%; }
  .reports-main-block .filters .filter{ width:30%; }
  .reports-main-block .reports-table .hide{ display:none; }
  .reports-main-block .reports-table .reports-table-legend-row th, .reports-main-block .reports-table td{ padding:2.5%; }

  .reports-main-block .reports-table th.type{ width:20%; }
  .reports-main-block .reports-table th.status{ width:20%; }
  .reports-main-block .reports-table th.subject{ width:45%; }

  .reports-main-block .report-detail .subject{ width:90%; margin:5% 5% 5% 5%; }
  .reports-main-block .report-detail .label{ margin:2.5% 2.5% 2.5% 5%; display:inline-block; }
  .reports-main-block .report-detail .date{ width:60%; margin:2.5% 5% 2.5% 0; display:inline-block; vertical-align:top; }
  .reports-main-block .report-detail .status{ width:60%; margin:2.5% 5% 2.5% 0; display:inline-block; vertical-align:top; }

  .reports-main-block .report-detail .comment-button{ width:40%; margin:2.5% 0 2.5% 60%; }
}

/****************************************************************************************************/

@media all and (min-width: 960px) and (max-width: 1279px)
{
  .reports-main-block{ width:75%; }
  .reports-main-block .filters .filter{ width:25%; }
  .reports-main-block .reports-table .reports-table-legend-row th, .reports-main-block .reports-table td{ padding:2%; }

  .reports-main-block .reports-table th.type{ width:11%; }
  .reports-main-block .reports-table th.date{ width:21%; }
  .reports-main-block .reports-table th.status{ width:11%; }
  .reports-main-block .reports-table th.subject{ width:41%; }

  .reports-main-block .report-detail .label{ display:none; }
  .reports-main-block .report-detail .type{ margin:7.5% 5% 5% 5%; }
  .reports-main-block .report-detail .date{ width:80%; margin:2.5% 5% 2.5% 10%; }
  .reports-main-block .report-detail .subject{ width:60%; margin:5% 2.5% 5% 5%; display:inline-block; }
  .reports-main-block .report-detail .status{ width:25%; margin:5% 5% 2.5% 2.5%; text-align:right; display:inline-block; vertical-align:top; }

  .reports-main-block .report-detail .comment-button{ width:30%; margin:2.5% 0 2.5% 70%; padding:1%; }
}

/****************************************************************************************************/

@media all and (min-width: 1280px) and (max-width: 1679px)
{
  .reports-main-block{ width:75%; }
  .reports-main-block .filters .filter{ width:20%; }
  .reports-main-block .reports-table .reports-table-legend-row th, .reports-main-block .reports-table td{ padding:1.5%; }

  .reports-main-block .reports-table th.type{ width:12%; }
  .reports-main-block .reports-table th.date{ width:22%; }
  .reports-main-block .reports-table th.status{ width:12%; }
  .reports-main-block .reports-table th.subject{ width:42%; }

  .reports-main-block .report-detail .label{ display:none; }
  .reports-main-block .report-detail .type{ margin:7.5% 5% 5% 5%; }
  .reports-main-block .report-detail .date{ width:80%; margin:2.5% 5% 2.5% 10%; }
  .reports-main-block .report-detail .subject{ width:60%; margin:5% 2.5% 5% 5%; display:inline-block; }
  .reports-main-block .report-detail .status{ width:25%; margin:5% 5% 2.5% 2.5%; text-align:right; display:inline-block; vertical-align:top; }

  .reports-main-block .report-detail .comment-button{ width:30%; margin:2.5% 0 2.5% 70%; padding:1%; }
}

/****************************************************************************************************/

@media all and (min-width: 1680px)
{
  .reports-main-block{ width:80%; }
  .reports-main-block .filters .filter{ width:15%; }
  .reports-main-block .reports-table .reports-table-legend-row th, .reports-main-block .reports-table td{ padding:1%; }

  .reports-main-block .reports-table th.type{ width:13%; }
  .reports-main-block .reports-table th.date{ width:23%; }
  .reports-main-block .reports-table th.status{ width:13%; }
  .reports-main-block .reports-table th.subject{ width:43%; }

  .reports-main-block .report-detail .label{ display:none; }
  .reports-main-block .report-detail .type{ margin:7.5% 5% 5% 5%; }
  .reports-main-block .report-detail .date{ width:80%; margin:2.5% 5% 2.5% 10%; }
  .reports-main-block .report-detail .subject{ width:60%; margin:5% 2.5% 5% 5%; display:inline-block; }
  .reports-main-block .report-detail .status{ width:25%; margin:5% 5% 2.5% 2.5%; text-align:right; display:inline-block; vertical-align:top; }

  .reports-main-block .report-detail .comment-button{ width:25%; margin:2.5% 0 2.5% 75%; padding:1%; }
}

/****************************************************************************************************
POPUP
****************************************************************************************************/

.report-popup
{ 
  z-index:1;
  padding:0;
  overflow:auto;
  position:fixed; 
  background-color:#334455;
}

.report-popup-title
{
  width:92%;
  color:#FFFFFF;
  text-align:center;
  font-size:x-large;
  margin:4% 4% 8% 4%;
  font-family:raleway-light;
}

.report-popup-label
{
  width:92%;
  color:#FFFFFF;
  font-size:large;
  margin:3% 4% 1% 4%;
  font-family:raleway-italic;
}

.report-popup-list
{
  width:92%;
  font-size:large;
  margin:1% 4% 1% 4%;
  font-family:raleway-light;
}

.report-popup-subject
{
  width:88%;
  padding:1%;
  margin:1% 4% 1% 4%;
  font-family:raleway-light;
}

.report-popup-description
{
  width:90%;
  padding:0;
  height:30vh;
  resize:none;
  border:none;
  font-size:large;
  margin:1% 4% 1% 4%;
  padding:1% 1% 1% 1%;
  font-family:raleway-light;
}

.report-popup-send
{
  background-color:#77B5FE;
}

.report-popup-cancel
{
  margin:4% 0 4% 4%;
  background-color:#FF0921;
}

.report-popup-send, .report-popup-cancel
{
  width:15%;
  padding:1%;
  border:none;
  cursor:pointer;
  font-size:large;
  color:#FFFFFF;
  text-align:center;
  border-radius:50%;
}

.report-popup-info
{
  width:90%;
  padding:0;
  color:#DCDCDC;
  margin:2% 5% 2% 5%;
  font-family:raleway-light;
}

.report-popup-send:hover, .report-popup-cancel:hover{ color:#445566; }
.report-popup-send:hover{ background-color:#5593DC; }
.report-popup-cancel:hover{ background-color:#DD0700; }

/****************************************************************************************************/

@media all and (max-width: 639px)
{
  .report-popup{ top:0; left:0; width:100%; height:100%; }

  .report-popup-send, .report-popup-cancel{ height:calc(100vw * 0.15); }

  .report-popup-send{ margin:4% 0 4% 62%; }
}

/****************************************************************************************************/

@media all and (min-width: 640px) and (max-width: 767px)
{
  .report-popup{ top:0; left:0; width:100%; height:100%; }

  .report-popup-send, .report-popup-cancel{ height:calc(100vw * 0.15); }

  .report-popup-send{ margin:4% 0 4% 62%; }
}

/****************************************************************************************************/

@media all and (min-width: 768px) and (max-width: 959px)
{
  .report-popup{ top:10%; left:30%; width:40%; }

  .report-popup-send, .report-popup-cancel{ height:calc((100vw * 0.4) * 0.15); }

  .report-popup-send{ margin:4% 0 4% 62%; }
}

/****************************************************************************************************/

@media all and (min-width: 960px) and (max-width: 1679px)
{
  .report-popup{ top:10%; left:35%; width:30%; }

  .report-popup-send, .report-popup-cancel{ height:calc((100vw * 0.3) * 0.15); }

  .report-popup-send{ margin:4% 0 4% 62%; }
}

/****************************************************************************************************/

@media all and (min-width: 1680px)
{
  .report-popup{ top:10%; left:40%; width:20%; }

  .report-popup-send, .report-popup-cancel{ height:calc((100vw * 0.2) * 0.15); }

  .report-popup-send{ margin:4% 0 4% 62%; }
}

/****************************************************************************************************/