/****************************************************************************************************/

body{ margin:0; background-color:#334455; }

.reset-block{ background-color:#FFFFFF; }

.reset-block .title{ font-family:raleway-regular; font-size:large; text-align:center; }

.reset-block .form .input{ margin:2.5% 0 0 5%; width:70%; display:inline-block; padding:0 5% 0 5%; height:31px; }

.reset-block .form .button{ cursor:pointer; margin:2.5% 2.5% 0 0; width:10%; display:inline-block; background-color:#77B5FE; color:#FFFFFF; text-align:center; border:none; padding:0; height:35px; }

.reset-block .form .button:hover{ color:#223344; background-color:#5593DC; }

.reset-block .home{ margin:2.5% 5% 2.5% 0; cursor:pointer; text-align:right; font-family:barlow; text-decoration:none; display:block; }

.reset-block .home:hover{ color:#5593DC; }

/****************************************************************************************************/

@media all and (max-width: 639px)
{
  .reset-block{ width:90%; margin:5%; padding:2.5% 0 2.5% 0; }
  .reset-block .title{ margin:5%; }
}

@media all and (min-width: 640px) and (max-width: 767px)
{
  .reset-block{ width:80%; margin:5% 10% 5% 10%; padding:2.5% 0 2.5% 0; }
  .reset-block .title{ margin:4%; }
}

@media all and (min-width: 768px) and (max-width: 959px)
{
  .reset-block{ width:60%; margin:5% 20% 5% 20%; padding:2% 0 2% 0; }
  .reset-block .title{ margin:3%; }
}

@media all and (min-width: 960px) and (max-width: 1279px)
{
  .reset-block{ width:60%; margin:5% 20% 5% 20%; padding:1.5% 0 1.5% 0; }
  .reset-block .title{ margin:2%; }
}

@media all and (min-width: 1280px) and (max-width: 1679px)
{
  .reset-block{ width:40%; margin:5% 30% 5% 30%; padding:1% 0 1% 0; }
  .reset-block .title{ margin:1%; }
}

@media all and (min-width: 1680px)
{
  .reset-block{ width:30%; margin:5% 35% 5% 35%; padding:1% 0 1% 0; }
  .reset-block .title{ margin:1%; }
}

/****************************************************************************************************/