/****************************************************************************************************/

@keyframes spin{ 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }

#main{ min-height:100vh; display:flex; flex-direction:column; justify-content:center; background-color:#171219; }

#wrapper{ display:flex; flex-direction:row; justify-content:center; }

/****************************************************************************************************/

.resetBlock{ background-color:#FFFFFF; border-radius:2px; width:calc(100% - 40px); max-width:600px; }

.resetBlockTitle{ text-transform:uppercase; font-size:1.5em; padding:20px; border-bottom:1px solid rgba(0,0,0,0.25); color:rgba(0,0,0,0.75); }

.resetBlockTitle span{ margin-left:5px; color:#759EB8; }

.resetBlockForm{ padding:20px; }

.resetBlockFormError{ color:#D9534F; margin-bottom:10px; font-weight:bold; font-size:0.9em; display:none; }

.resetBlockFormSuccess{ color:#759EB8; margin-bottom:10px; font-weight:bold; font-size:0.9em; display:none; }

.resetBlockFormInfo{ font-size:0.9em; color:rgba(0,0,0,0.8); margin-bottom:20px; }

.resetBlockForm input{ border:1px solid rgba(0,0,0,0.25); border-radius:4px; padding:6px; width:100%; box-sizing:border-box; }

.resetBlockFormFieldError{ font-size:0.8em; color:#D9534F; margin-left:4px; display:none; }

.resetBlockFormFooter{ display:flex; flex-direction:row; align-items:center; justify-content:space-between; margin-top:20px; }

.resetBlockFormFooterReturn{ display:block; color:rgba(0,0,0,0.6); cursor:pointer; text-decoration:underline; font-style:italic; font-size:1em; margin-right:10px; user-select:none; -ms-user-select:none; -moz-user-select:none; -webkit-user-select:none; }

.resetBlockFormFooterReturn:hover{ color:rgba(0,0,0,0.8); }

.resetBlockFormFooter button{ color:#759EB8; border:1px solid #759EB8; background-color:#FFFFFF; padding:5px 15px 5px 15px; border-radius:4px; cursor:pointer; }

.resetBlockFormFooter button:hover{ color:#537C96; border:1px solid #537C96; }

/****************************************************************************************************/
