/****************************************************************************************************/

.service-main-block .title
{
  margin:2.5% 0 2.5% 0;
  font-size:x-large;
  font-family:barlow;
}

.service-main-block .upload-button
{
  border:none;
  cursor:pointer;
  color:#FFFFFF;
  border-radius:4px;
  margin-bottom:2.5%;
  padding:1% 2% 1% 2%;
  background-color:#77B5FE;
  font-family:raleway-regular;
}

.service-main-block .upload-button:hover
{
  color:#334455;
  background-color:#5593DC;
}

/****************************************************************************************************/

@media (max-width: 639px)
{
  .service-main-block .service-main-block-table .hide-1x{ display:none; }
}

@media (min-width: 640px) and (max-width: 767px)
{
  .service-main-block .service-main-block-table .hide-2x{ display:none; }
}

@media (min-width: 768px) and (max-width: 959px)
{
  .service-main-block .service-main-block-table .hide-3x{ display:none; }
}

@media (min-width: 960px) and (max-width: 1279px)
{
  .service-main-block .service-main-block-table .hide-4x{ display:none; }
}

@media (min-width: 1280px) and (max-width: 1679px)
{

}

@media (min-width: 1680px)
{

}

/****************************************************************************************************/

.service-main-block-title
{
  width:65%;
  font-size:xx-large;
  font-family:barlow;
  display:inline-block;
}

.service-main-block .info{ font-family:barlow; margin:2.5% 0 2.5% 0; }

.service-main-block-table
{
  width:100%;
  border-collapse:collapse;
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.service-main-block-table-legend
{
  color:white;
  text-align:left;
  background-color:#77B5FE;
  font-family:raleway-light-italic;
}

.service-main-block-file-odd
{
  cursor:pointer;
  background-color:#FFFFFF;
}

.service-main-block-file-even
{
  cursor:pointer;
  background-color:#EEEEEE;
}

.service-main-block-file-deleted
{
  color:#FF0000;
  text-align:right;
  font-family:barlow;
  margin:1% 15% 1% 1%;
}

.service-main-block-table td{ overflow:hidden; text-overflow:ellipsis; }

.service-main-block-file-odd:hover, .service-main-block-file-even:hover{ font-weight:bold; background-color:#CCDDFF; }

th.service-main-block-file-name
{
  width:40%;
  padding:1%;
}

th.service-main-block-file-type
{
  width:10%;
  padding:1%;
}

th.service-main-block-file-account
{
  width:25%;
  padding:1%;
}

th.service-main-block-file-buttons
{
  width:15%;
  padding:1%;
}

td.service-main-block-file-name
{
  padding:1%;
  font-family:raleway-light;
}

td.service-main-block-file-type
{
  padding:1%;
  font-family:raleway-light;
}

td.service-main-block-file-account
{
  padding:1%;
  font-family:raleway-light;
}

td.service-main-block-file-buttons
{
  padding:1%;
  text-align:right;
  font-family:raleway-light;
}

.service-main-block-file-buttons-download
{
  cursor:pointer;
  color:#667788;
  font-size:x-large;
  margin:1% 15% 1% 0;
}

.service-main-block-file-buttons-download:hover
{
  color:#334455;
}

.service-main-block-file-buttons-delete
{
  cursor:pointer;
  color:#E84E4F;
  font-size:x-large;
  margin:1% 15% 1% 0;
}

.service-main-block-file-buttons-delete:hover
{
  color:#A40A0B;
}

.services-main-block{ width:95%; margin:2.5%; }

.services-main-block-element, .admin-main-block-element{ cursor:pointer; text-decoration:none; font-family:raleway-regular; padding:2% 5% 2% 5%; font-size:large; color:#FFFFFF; background-color:#77B5FE; border-radius:8px; text-align:center; }

.services-main-block-element:hover, .admin-main-block-element:hover{ color:#223344; background-color:#5593DC; }

/****************************************************************************************************/

@media all and (max-width: 639px)
{
  .service-main-block{ width:95%; margin:40px 2.5% 40px 2.5%; }

  .services-main-block-element, .admin-main-block-element
  {
    margin:2.5%;
    display:inline-block;
  }
}

/****************************************************************************************************/

@media all and (min-width: 640px) and (max-width: 767px)
{
  .service-main-block{ width:95%; margin:40px 2.5% 40px 2.5%; }

  .services-main-block-element, .admin-main-block-element
  {
    margin:2.5%;
    display:inline-block;
  }
}

/****************************************************************************************************/

@media all and (min-width: 768px) and (max-width: 959px)
{
  .service-main-block{ width:70%; margin:40px 2.5% 40px 2.5%; display:inline-block; vertical-align:top; }
  
  .services-main-block-element, .admin-main-block-element
  {
    margin:2.5%;
    display:inline-block;
  }
}

/****************************************************************************************************/

@media all and (min-width: 960px) and (max-width: 1279px)
{
  .service-main-block{ width:70%; margin:40px 2.5% 40px 2.5%; display:inline-block; vertical-align:top; }
  
  .services-main-block-element, .admin-main-block-element
  {
    margin:2.5%;
    display:inline-block;
  }
}

/****************************************************************************************************/

@media all and (min-width: 1280px) and (max-width: 1679px)
{
  .service-main-block{ width:70%; margin:40px 2.5% 40px 2.5%; display:inline-block; vertical-align:top; }
  
  .services-main-block-element, .admin-main-block-element
  {
    margin:2.5%;
    display:inline-block;
  }
}

/****************************************************************************************************/

@media all and (min-width: 1680px)
{
  .service-main-block{ width:50%; margin:40px 2.5% 40px 2.5%; display:inline-block; vertical-align:top; }
  
  .services-main-block-element, .admin-main-block-element
  {
    margin:2.5%;
    display:inline-block;
  }
}

/****************************************************************************************************/