<!DOCTYPE html>
<html>
  <title>PEI - <%= strings.common.locations[currentLocation] %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/includes.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/common.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.css" />
  <body>
    <% include ../include/informations.ejs %>
    <div class="mainSection">
      <div class="subSection">
        <% include include/header.ejs %>
        <div class="contentSection">
          <div class="asideColumn">
            <% include include/aside.ejs %>
            <% include include/news.ejs %>
          </div>
          <div class="centerColumn">
            <div class="homeSection">
              <div class="homeSectionTitle">Accueil</div>
              <img class="homeSectionPicture" src="/pictures/home.png" />
              <div class="homeSectionMessage">
                <div class="homeSectionParagraph"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% include include/footer.ejs %>
    </div>
    <% include ../include/common_scripts.ejs %>
    <% include include/scripts.ejs %>
    <% include ../messenger.ejs %>
    <script src='/js/root/news/selectNewsExternal.js'></script>
  </body>
</html>