<!DOCTYPE html>
<html>
  <title>PEI - <%= strings.common.locations[currentLocation] %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/logon.css" />
  <body class='logon-body'>
    <noscript>
      <div class="noScriptWarningBlock">
        <div class="noScriptWarningBlockMessage">Attention : Ce site requiert Javascript pour fonctionner. Votre navigateur ne le supporte pas ou alors il n'est pas activé dans les paramètres</div>
      </div>
    </noscript>
    <div id='main' class='main'>
      <div class='title'>Connexion</div>
      <div class='error' id='error'></div>
      <form id='form'>
        <div class='icon'><i class='fas fa-at'></i></div><!--
        --><input placeholder='Adresse Email' class='input' id='email' type='text' required />
        <div class='icon'><i class='fas fa-lock'></i></div><!--
        --><input placeholder='Mot De Passe' class='input' id='password' type='password' required />
        <button type='submit' id='send' class='send'>Envoyer</button>
      </form>
      <a href='/reset-password' class='question'>Mot de passe oublié ?</a>
    </div>
    <div id='background' class='background'>
      <div class='loader'>
        <div class='spinner'><i class='fas fa-circle-notch fa-spin'></i></div>
        <div class='message'>Vérification en cours...</div>
      </div>
    </div>
    <div class="cookiesWarningBlock" id="cookiesDisclaimer">
      <div class="cookiesWarningBlockMessage">Ce site requiert l'activation des cookies pour fonctionner. En cas de problème veuillez vous assurer de l'activation de ceux-ci dans les paramètres du navigateur</div><div id="cookiesDisclaimerClose" class="cookiesWarningBlockClose">Fermer</div>
    </div>
    <script src="/js/jQuery.js"></script>
    <% include include/scripts.ejs %>
    <script src='/js/index/logon.js'></script>
    <script src='/js/fontawesome.js'></script>
  </body>
</html>