<!DOCTYPE html>
<html>
  <title>PEI - <%= strings.common.locations[currentLocation] %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/test/initialization.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/test/header.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/test/aside.css" />
  <body>
    <div id="mainContainer">
    </div>
    <% include ../include/common_scripts.ejs %>
    <script src="/js/root/test/initialize.js"></script>
    <script src="/js/root/test/createHeader.js"></script>
    <script src="/js/root/test/createContainers.js"></script>
    <script src="/js/root/test/createAside.js"></script>
  </body>
</html>
