<!DOCTYPE html>
<html>
  <title>PEI - <%= strings.common.locations[currentLocation] %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/common.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/test/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/test/home.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/test/apps.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/test/header.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/test/aside.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/test/account.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/test/articles.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/test/directory.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/test/messenger.css" />
  <body>
    <div class="informationBlock" id="informationBlock"></div>
    <div id="mainContainer">
    </div>
    <% include ../include/common_scripts.ejs %>
    <script src='/js/common/informations.js'></script>
    <script src="/js/root/test/initialize.js"></script>
    <script src="/js/root/test/createHeader.js"></script>
    <script src="/js/root/test/createMessenger.js"></script>
    <script src="/js/root/test/createContainers.js"></script>
    <script src="/js/root/test/createAside.js"></script>
    <script src="/js/root/test/loadLocation.js"></script>
    <script src="/js/root/test/loadHomeSection.js"></script>
    <script src="/js/root/test/loadAppsSection.js"></script>
    <script src="/js/root/test/loadAccountSection.js"></script>
    <script src="/js/root/test/loadArticlesSection.js"></script>
    <script src="/js/root/test/loadDirectorySection.js"></script>
    <script src="/js/root/test/accountSection/updateEmail.js"></script>
    <script src="/js/root/test/accountSection/updatePicture.js"></script>
    <script src="/js/root/test/accountSection/updateLastname.js"></script>
    <script src="/js/root/test/accountSection/updatePassword.js"></script>
    <script src="/js/root/test/accountSection/updateFirstname.js"></script>
    <script src="/js/root/test/accountSection/updateContactNumber.js"></script>
    <script src="/js/root/test/directorySection/browseUnits.js"></script>
  </body>
</html>
