/****************************************************************************************************/

.main{ position:relative; }

.info{ box-sizing:border-box; width:500px; background-color:#FFFFFF; border-radius:4px; box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); }

.info .header{ padding:10px 20px 10px 20px; font-family:barlow; margin-bottom:10px; border-bottom:1px solid #F0F0F0; font-size:20px; line-height:24px; }

.info .content{ padding:0 20px 10px 20px; font-family:barlow-italic; font-size:16px; line-height:24px; }

.table{ background-color:#FFFFFF; table-layout:fixed; border-collapse:collapse; border-radius:4px; box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); }

.table .labels{ text-align:left; border-bottom:1px solid #F0F0F0; font-family:barlow; font-size:16px; line-height:24px; box-sizing:border-box; }

.table .labels th{ padding:5px; }

.table .labels .email{ width:40%; }

.table .labels .lastname{ width:30%; }

.table .labels .firstname{ width:30%; }

.table .values{ cursor:pointer; }

.table .values:hover{ font-weight:bold; background-color:#CCDDFF; }

.table .values td{ font-family:barlow; line-height:16px; font-size:14px; padding:5px 5px 10px 5px; overflow:hidden; text-overflow:ellipsis; }

/****************************************************************************************************/

@media all and (max-width: 479px)
{
  .main{ width:calc(100% - 40px); margin:40px 20px 40px 20px; }

  .info{ width:250px; }

  .table{ width:100%; margin:20px 0 20px 0; }
}

@media all and (min-width: 480px) and (max-width: 767px)
{
  .main{ width:calc(100% - 40px); margin:40px 20px 40px 20px; }

  .table{ width:100%; margin:20px 0 20px 0; }
}

@media all and (min-width: 768px) and (max-width: 959px)
{
  .main{ width:calc(80% - 40px); margin:40px 20px 40px 20px; display:inline-block; vertical-align:top; }

  .table{ width:100%; margin:20px 0 20px 0; }
}

@media all and (min-width: 960px) and (max-width: 1279px)
{
  .main{ width:calc(80% - 40px); margin:40px 20px 40px 20px; display:inline-block; vertical-align:top; }

  .table{ width:100%; margin:20px 0 20px 0; }
}

@media all and (min-width: 1280px) and (max-width: 1679px)
{
  .main{ width:calc(80% - 40px); margin:40px 20px 40px 20px; display:inline-block; vertical-align:top; }

  .table{ width:800px; margin:20px 0 20px 0; }
}

@media all and (min-width: 1680px)
{
  .main{ width:calc(85% - 40px); margin:40px 20px 40px 20px; display:inline-block; vertical-align:top; }

  .table{ width:800px; margin:20px 0 20px 0; }
}

/****************************************************************************************************/