/****************************************************************************************************/

.accountsLevelSection{ margin:20px 0 20px 0; }

.accountsLevelSectionSearch{ width:100%; margin:20px 0 20px 0; max-width:300px; border:1px solid #CCC; border-radius:4px; font-size:1em; padding:5px; box-sizing:border-box; }

.accountsLevelSectionInformation{ max-width:1000px; text-align:justify; }


.accountsList{ box-sizing:border-box; padding:10px; list-style:none; margin:40px 0 40px 0; max-width:600px; border-radius:2px; box-shadow:0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2); }

.accountsListHeader{ font-weight:bold; font-size:1.1em; border-bottom:1px solid rgba(0,0,0,0.24); padding-bottom:10px; margin:10px 10px 20px 10px; display:flex; flex-direction:row; align-items:top; justify-content:space-between; }

.accountsListHeaderEmail{ margin-right:10px; }

.accountsListHeaderAdmin{ width:150px; text-align:center; }

.accountBlock{ margin:10px 10px 20px 10px; display:flex; flex-direction:row; align-items:center; justify-content:space-between; }

.accountBlockEmail{ word-break:break-all; margin-right:10px; }

.accountBlockInput{ width:150px; }


.accountBlockInput input{ position:absolute; left:-9999px; }

.accountBlockInput input + label{ transition-duration:0.5s; -webkit-transition-duration:0.5s; -moz-transition-duration:0.5s; -o-transition-duration:0.5s; box-shadow:0 1px 3px 0 rgba(0,0,0,.2), 0 1px 2px 0 rgba(0,0,0,.4); position:relative; color:#FFFFFF; cursor:pointer; width:100%; background-color:#D9534F; display:block; text-align:center; padding:8px 16px 8px 16px; border-radius:20px; box-sizing:border-box; }

.accountBlockInput input:checked + label{ transition-duration:0.5s; -webkit-transition-duration:0.5s; -moz-transition-duration:0.5s; -o-transition-duration:0.5s; box-shadow:0 1px 3px 0 rgba(0,0,0,.2), 0 1px 2px 0 rgba(0,0,0,.4); position:relative; color:#FFFFFF; cursor:pointer; width:100%; background-color:#428BCA; display:block; text-align:center; padding:8px 16px 8px 16px; border-radius:20px; box-sizing:border-box; }

.accountBlockInput input + label::before{ transition-duration:0.5s; -webkit-transition-duration:0.5s; -moz-transition-duration:0.5s; -o-transition-duration:0.5s; content:''; width:24px; border-radius:100%; box-sizing:border-box; border:3px solid #FFF; position:absolute; top:5px; left:5px; bottom:5px; }

.accountBlockInput input:checked + label::before{ transition-duration:0.5s; -webkit-transition-duration:0.5s; -moz-transition-duration:0.5s; -o-transition-duration:0.5s; content:''; width:24px; border-radius:100%; box-sizing:border-box; border:3px solid #FFF; background-color:#FFFFFF; position:absolute; top:5px; right:5px; left:calc(100% - 29px); bottom:5px; }

/****************************************************************************************************/

.accountAdminStatusPopupMessage{ padding:20px; font-size:0.9em; font-weight:bold; }

.accountAdminStatusPopupButtons{ display:flex; flex-direction:row; align-items:center; flex-wrap:wrap; justify-content:flex-end; }

.accountAdminStatusPopupConfirm{ margin:0 20px 20px 0; border:none; border-radius:4px; cursor:pointer; color:#FFFFFF; padding:8px 16px 8px 16px; background-color:#428BCA; }

.accountAdminStatusPopupCancel{ margin:0 20px 20px 0; border:none; border-radius:4px; cursor:pointer; color:#FFFFFF; padding:8px 16px 8px 16px; background-color:#D9534F; }

.accountAdminStatusPopupConfirm:hover{ background-color:#2069A8; }

.accountAdminStatusPopupCancel:hover{ background-color:#B7312D; }

/****************************************************************************************************/

@media (max-width: 319.9px)
{
  .accountsLevelSectionTableColumn.emailColumn{ width:70%; }
  .accountsLevelSectionTableColumn.lastnameColumn{ display:none; }
  .accountsLevelSectionTableColumn.firstnameColumn{ display:none; }
  .accountsLevelSectionTableColumn.adminColumn{ width:30%; }

  .accountAdminLevelConfirmationPopup{ top:40px; right:20px; left:20px; margin-bottom:40px; width:calc(100% - 40px); }
}

@media (min-width: 320px) and (max-width: 479.9px)
{
  .accountsLevelSectionTableColumn.emailColumn{ width:70%; }
  .accountsLevelSectionTableColumn.lastnameColumn{ display:none; }
  .accountsLevelSectionTableColumn.firstnameColumn{ display:none; }
  .accountsLevelSectionTableColumn.adminColumn{ width:30%; }

  .accountAdminLevelConfirmationPopup{ top:40px; right:20px; left:20px; margin-bottom:40px; width:calc(100% - 40px); }
}

@media (min-width: 480px) and (max-width: 639.9px)
{
  .accountsLevelSectionTableColumn.emailColumn{ width:70%; }
  .accountsLevelSectionTableColumn.lastnameColumn{ display:none; }
  .accountsLevelSectionTableColumn.firstnameColumn{ display:none; }
  .accountsLevelSectionTableColumn.adminColumn{ width:30%; }

  .accountAdminLevelConfirmationPopup{ top:40px; right:20px; left:20px; margin-bottom:40px; width:calc(100% - 40px); }
}

@media (min-width: 640px) and (max-width: 779.9px)
{
  .accountsLevelSectionTableColumn.emailColumn{ width:45%; }
  .accountsLevelSectionTableColumn.lastnameColumn{ width:35%; }
  .accountsLevelSectionTableColumn.firstnameColumn{ display:none; }
  .accountsLevelSectionTableColumn.adminColumn{ width:20%; }
}

@media (min-width: 780px) and (max-width: 959.9px)
{
  .accountsLevelSectionTableColumn.emailColumn{ width:45%; }
  .accountsLevelSectionTableColumn.lastnameColumn{ width:35%; }
  .accountsLevelSectionTableColumn.firstnameColumn{ display:none; }
  .accountsLevelSectionTableColumn.adminColumn{ width:20%; }
}

@media (min-width: 960px) and (max-width: 1279.9px)
{
  .accountsLevelSectionTableColumn.emailColumn{ width:30%; }
  .accountsLevelSectionTableColumn.lastnameColumn{ width:25%; }
  .accountsLevelSectionTableColumn.firstnameColumn{ width:25%; }
  .accountsLevelSectionTableColumn.adminColumn{ width:20%; }
}

@media (min-width: 1280px) and (max-width: 1679.9px)
{

}

@media (min-width: 1680px)
{

}

/****************************************************************************************************/