/****************************************************************************************************/

.rightsBlock{ max-width:600px; width:100%; margin:40px auto 40px 0; }

.rightsBlockEnabled{ font-size:1em; margin-bottom:20px; color:#428BCA; }

.rightsBlockDisabled{ font-size:1em; margin-bottom:20px; color:#D9534F; }

/****************************************************************************************************/