/****************************************************************************************************/

.rightsOnServicesReturn{ border-radius:4px; border:none; background-color:#D9534F; color:#FFFFFF; font-family:roboto-light; padding:4px 8px 4px 8px; font-size:16px; margin:20px; cursor:pointer; transition-duration:0.5s; -o-transition-duration:0.5s; -webkit-transition-duration:0.5s; }

.rightsOnServicesReturn:hover{ background-color:#B7312D; }

.rightsOnServicesErrorBlock{ max-width:400px; width:400px; margin:40px; background-color:#FFFFFF; border:1px solid #E0E0E0; border-radius:4px; }

.rightsOnServicesErrorBlockTitle{ padding:10px; font-family:roboto-light; line-height:24px; font-size:20px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; width:calc(100% - 20px); border-bottom:1px solid #E0E0E0; }

.rightsOnServicesErrorBlockMessage{ padding:20px 10px 20px 10px; color:#D9534F; line-height:24px; font-size:16px; font-family:roboto-light; }

.rightsOnServicesErrorBlockDetail{ padding:0 10px 10px 10px; color:#B0B0B0; line-height:18px; font-size:14px; font-family:roboto-light-italic; }

.rightsOnServicesHomeServicesBlock{ margin:20px; }

.rightsOnServicesHomeServicesBlockService{ max-width:400px; width:400px; margin:0 20px 20px 0; display:inline-block; vertical-align:top; background-color:#FFFFFF; border-radius:4px; border:1px solid #E0E0E0; }

.rightsOnServicesHomeServicesBlockServiceLabel{ font-family:roboto-light; padding:10px; line-height:24px; font-size:20px; border-bottom:1px solid #E0E0E0; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; width:calc(100% - 20px); }

.rightsOnServicesHomeServicesBlockServiceMembers{ padding:10px; }

.rightsOnServicesHomeServicesBlockServiceMembersKey{ font-family:roboto-light-italic; line-height:24px; font-size:16px; display:inline-block; width:calc(100% - 90px); margin:0 10px 0 0; }

.rightsOnServicesHomeServicesBlockServiceMembersValue{ font-family:roboto-light; line-height:24px; font-size:20px; display:inline-block; vertical-align:top; text-align:right; width:80px; }

.rightsOnServicesHomeServicesBlockServiceManage{ width:200px; margin:0 10px 10px calc(100% - 210px); border:none; border-radius:4px; padding:4px 8px 4px 8px; cursor:pointer; background-color:#428BCA; color:#FFFFFF; transition-duration:0.5s; -o-transition-duration:0.5s; -webkit-transition-duration:0.5s; }

.rightsOnServicesHomeServicesBlockServiceManage:hover{ color:#000000; }

.rightsOnServicesHomeServicesBlockServiceManageIcon{ display:inline-block; font-size:1.5em; height:25px; width:25px; }

.rightsOnServicesHomeServicesBlockServiceManageText{ display:inline-block; vertical-align:top; font-size:16px; line-height:18px; width:calc(100% - 30px); margin:3px 0 0 5px; }


.rightsOnServicesHomeMembersBlock{ max-width:800px; min-width:400px; width:800px; margin:20px 20px 20px 0; background-color:#FFFFFF; border-top:1px solid #E0E0E0; border-right:1px solid #E0E0E0; border-bottom:1px solid #E0E0E0; border-radius:0 4px 4px 0; }

.rightsOnServicesHomeMembersBlockTitle{ border-bottom:1px solid #E0E0E0; font-family:roboto-light; line-height:24px; font-size:20px; padding:10px; }

.rightsOnServicesHomeMembersBlockEmpty{ font-family:roboto-light-italic; line-height:24px; font-size:16px; padding:20px; text-align:center; }

.rightsOnServicesHomeMembersBlockHeader{ padding:10px; }

.rightsOnServicesHomeMembersBlockHeaderAddEnabled{ margin:0 0 0 calc(100% - 210px); border:none; border-radius:4px; background-color:#428BCA; color:#FFFFFF; cursor:pointer; font-family:roboto-light; font-size:16px; width:100px; display:inline-block; vertical-align:top; transition-duration:0.5s; -o-transition-duration:0.5s; -webkit-transition-duration:0.5s; }

.rightsOnServicesHomeMembersBlockHeaderAddEnabled:hover{ color:#000000; background-color:#317AB9; }

.rightsOnServicesHomeMembersBlockHeaderAddDisabled{ margin:0 0 0 calc(100% - 210px); border:none; border-radius:4px; background-color:#E0E0E0; color:#FFFFFF; font-family:roboto-light; font-size:16px; width:100px; display:inline-block; vertical-align:top; }

.rightsOnServicesHomeMembersBlockHeaderClose{ margin:0 0 0 10px; border:none; border-radius:4px; background-color:#D9534F; color:#FFFFFF; cursor:pointer; font-family:roboto-light; font-size:16px; width:100px; display:inline-block; vertical-align:top; transition-duration:0.5s; -o-transition-duration:0.5s; -webkit-transition-duration:0.5s; }

.rightsOnServicesHomeMembersBlockHeaderClose:hover{ background-color:#C8423E; color:#000000; }

.rightsOnServicesHomeMembersBlockList{ padding:10px; width:calc(100% - 10px); box-sizing:border-box; border-top:1px solid #E0E0E0; border-right:1px solid #E0E0E0; border-bottom:1px solid #E0E0E0; border-radius:0 4px 0 0; }

.rightsOnServicesHomeMembersBlockListLabels{ border-bottom:1px solid #E0E0E0; padding:0 0 10px 0; margin:0 0 10px 0; }

.rightsOnServicesHomeMembersBlockListLabelsText{width:calc(100% - 280px); line-height:24px; font-size:16px; font-family:roboto-light-italic; display:inline-block; vertical-align:top; }

.rightsOnServicesHomeMembersBlockListLabelsIcon{ width:60px; display:inline-block; vertical-align:top; text-align:center; color:#428BCA; font-size:1.5em; }

.rightsOnServicesHomeMembersBlockListAccountEmail{ padding:10px; font-family:roboto-light; line-height:24px; font-size:16px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; width:calc(100% - 300px); display:inline-block; }

.rightsOnServicesHomeAccountsBlock{ width:600px; max-width:600px; background-color:#FFFFFF; box-sizing:border-box; border-radius:4px; border:1px solid #E0E0E0; position:absolute; top:80px; left:calc(50% - 300px); margin-bottom:40px; }

.rightsOnServicesHomeAccountsBlockTitle{ padding:10px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:1em; font-family:roboto-light; border-bottom:1px solid #E0E0E0; }

.rightsOnServicesHomeAccountsBlockHelp{ padding:10px; font-size:0.9em; font-family:roboto-light-italic; }

.rightsOnServicesHomeAccountsBlockSearch{ width:200px; border:1px solid #E0E0E0; border-radius:4px; font-size:0.9em; font-family:roboto-light-italic; margin:10px; }

/****************************************************************************************************/

@media (max-width: 319.9px)
{
  .rightsOnServicesErrorBlock{ width:calc(100% - 40px); margin:20px; }

  .rightsOnServicesHomeServicesBlockService{ width:100%; }

  .rightsOnServicesHomeMembersBlock{ width:calc(100% - 20px); }

  .rightsOnServicesHomeAccountsBlock{ width:calc(100% - 40px); top:40px; left:20px; margin-bottom:20px; }

  .rightsOnServicesHomeAccountsBlockSearch{ width:calc(100% - 20px); }
}

@media (min-width: 320px) and (max-width: 479.9px)
{
  .rightsOnServicesErrorBlock{ width:calc(100% - 40px); margin:20px; }

  .rightsOnServicesHomeServicesBlockService{ width:100%; }

  .rightsOnServicesHomeMembersBlock{ width:calc(100% - 20px); }

  .rightsOnServicesHomeAccountsBlock{ width:calc(100% - 40px); top:40px; left:20px; margin-bottom:20px; }
}

@media (min-width: 480px) and (max-width: 639.9px)
{
  .rightsOnServicesHomeMembersBlock{ width:calc(100% - 20px); }

  .rightsOnServicesHomeAccountsBlock{ width:calc(100% - 40px); top:40px; left:20px; margin-bottom:20px; }
}

@media (min-width: 640px) and (max-width: 779.9px)
{
  .rightsOnServicesHomeMembersBlock{ width:calc(100% - 20px); }

  .rightsOnServicesHomeAccountsBlock{ width:calc(100% - 40px); top:40px; left:20px; margin-bottom:20px; }
}

@media (min-width: 780px) and (max-width: 959.9px)
{
  .rightsOnServicesHomeMembersBlock{ width:calc(100% - 20px); }
}

@media (min-width: 960px) and (max-width: 1279.9px)
{

}

@media (min-width: 1280px) and (max-width: 1679.9px)
{

}

@media (min-width: 1680px)
{

}

/****************************************************************************************************/