/****************************************************************************************************/

.membersBlock{ border-radius:4px; border:1px solid #E0E0E0; margin:40px 20px 40px 20px; background-color:#FFFFFF; box-sizing:border-box; display:inline-block; vertical-align:top; }

.membersBlockTitle{ font-family:roboto-light; font-size:1em; padding:10px; border-bottom:1px solid #E0E0E0; margin-bottom:10px; }

.membersBlockEmpty{ font-family:roboto-light-italic; font-size:1em; padding:20px; text-align:center; }

.membersBlockHeader{ padding:10px; }

.membersBlockHeaderAddEnabled{ margin:0 0 0 calc(100% - 210px); border:none; border-radius:4px; background-color:#428BCA; color:#FFFFFF; cursor:pointer; font-family:roboto-light; font-size:1em; width:100px; display:inline-block; vertical-align:top; padding:8px 0 8px 0; }

.membersBlockHeaderAddEnabled:hover{ color:#000000; background-color:#317AB9; transition-duration:0.5s; -o-transition-duration:0.5s; -webkit-transition-duration:0.5s; }

.membersBlockHeaderAddDisabled{ margin:0 0 0 calc(100% - 210px); border:none; border-radius:4px; background-color:#E0E0E0; color:#FFFFFF; font-family:roboto-light; font-size:1em; width:100px; display:inline-block; vertical-align:top; padding:8px 0 8px 0; }

.membersBlockHeaderClose{ margin:0 0 0 10px; border:none; border-radius:4px; background-color:#D9534F; color:#FFFFFF; cursor:pointer; font-family:roboto-light; font-size:1em; width:100px; display:inline-block; vertical-align:top; padding:8px 0 8px 0; }

.membersBlockHeaderClose:hover{ background-color:#C8423E; color:#000000; transition-duration:0.5s; -o-transition-duration:0.5s; -webkit-transition-duration:0.5s; }


.membersBlockList{ width:calc(100% - 20px); margin:10px; border:1px solid #E0E0E0; border-radius:4px; box-sizing:border-box; }

.membersBlockListLabels{ font-size:1em; font-family:roboto-light-italic; border-bottom:1px solid #E0E0E0; }

.membersBlockListLabelsEmail{ width:40%; padding:10px; box-sizing:border-box; display:inline-block; border-right:1px solid #E0E0E0; }

.membersBlockListLabelsLastname{ width:30%; padding:10px; box-sizing:border-box; display:inline-block; vertical-align:top; border-right:1px solid #E0E0E0; }

.membersBlockListLabelsFirstname{ width:30%; padding:10px; box-sizing:border-box; display:inline-block; vertical-align:top; }


.membersBlockListAccountsElement:hover{ background-color:#F0F0FF; cursor:pointer; }

.membersBlockListAccountsElementLabels{ width:calc(100% - 400px); }

.membersBlockListAccountsElementLabelsEmail{ font-size:0.75em; line-height:1em; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; font-family:roboto-light; padding:10px; width:40%; box-sizing:border-box; display:inline-block; vertical-align:top; border-right:1px solid #E0E0E0; }

.membersBlockListAccountsElementLabelsLastname{ font-size:0.75em; line-height:1em; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; font-family:roboto-light; padding:10px; width:30%; box-sizing:border-box; display:inline-block; vertical-align:top; border-right:1px solid #E0E0E0; }

.membersBlockListAccountsElementLabelsFirstname{ font-size:0.75em; line-height:1em; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; font-family:roboto-light; padding:10px; width:30%; box-sizing:border-box; display:inline-block; vertical-align:top; }


.membersBlockListAccountsElementRights{ width:400px; display:inline-block; vertical-align:top; height:35px; margin:5px 0 5px 0; }

.membersBlockListAccountsElementRightsButton{ height:35px; margin:5px 0 5px 0; display:none; cursor:pointer; padding:8px 0 8px 0; border:none; width:40px; border-radius:4px; background-color:#428BCA; color:#FFFFFF; font-size:1em; font-family:roboto-light; }

.membersBlockListAccountsElementRightsButton:hover{ color:#000000; background-color:#317AB9; -webkit-transition-duration:0.5s; transition-duration:0.5s; -o-transition-duration:0.5s; }

.membersBlockListAccountsElementRightsSwitch{ width:80px; display:inline-block; vertical-align:top; padding:0 15px 0 15px; box-sizing:border-box; }

.membersBlockListAccountsElementRightsSwitchBackgroundEnabled{ cursor:pointer; width:50px; height:24px; background-color:#FFFFFF; border-radius:24px; content:''; position:relative; border:1px solid #5CB85C; -webkit-transition-duration:500ms; transition-duration:500ms; -o-transition-duration:500ms; }

.membersBlockListAccountsElementRightsSwitchBackgroundDisabled{ cursor:pointer; width:50px; height:24px; background-color:#FFFFFF; border-radius:24px; content:''; position:relative; border:1px solid #D9534F; -webkit-transition-duration:500ms; transition-duration:500ms; -o-transition-duration:500ms; }

.membersBlockListAccountsElementRightsSwitchBackgroundInactive{ width:50px; height:24px; background-color:#FFFFFF; border-radius:24px; content:''; position:relative; border:1px solid #E0E0E0; -webkit-transition-duration:500ms; transition-duration:500ms; -o-transition-duration:500ms; }

.membersBlockListAccountsElementRightsSwitchCircleEnabled{ width:20px; height:20px; position:absolute; top:2px; right:2px; content:''; background-color:#5CB85C; border-radius:12px; -webkit-transition-duration:500ms; transition-duration:500ms; -o-transition-duration:500ms; }

.membersBlockListAccountsElementRightsSwitchCircleDisabled{ width:20px; height:20px; position:absolute; top:2px; left:2px; content:''; background-color:#D9534F; border-radius:12px; -webkit-transition-duration:500ms; transition-duration:500ms; -o-transition-duration:500ms; }

.membersBlockListAccountsElementRightsSwitchCircleEnabledInactive{ width:20px; height:20px; position:absolute; top:2px; right:2px; content:''; background-color:#E0E0E0; border-radius:12px; -webkit-transition-duration:500ms; transition-duration:500ms; -o-transition-duration:500ms; }

.membersBlockListAccountsElementRightsSwitchCircleDisabledInactive{ width:20px; height:20px; position:absolute; top:2px; left:2px; content:''; background-color:#E0E0E0; border-radius:12px; -webkit-transition-duration:500ms; transition-duration:500ms; -o-transition-duration:500ms; }

.membersBlockListAccountsElementRightsRevokeActive{ box-sizing:border-box; margin:0 30px 0 30px; color:#D9534F; width:20px; font-size:1.5em; cursor:pointer; text-align:center; display:inline-block; vertical-align:top; }

.membersBlockListAccountsElementRightsRevokeInactive{ margin:0; color:#E0E0E0; width:80px; font-size:1.5em; text-align:center; display:inline-block; vertical-align:top; }

.membersBlockListAccountsElementRightsRevokeActive:hover{ color:#B7312D; -webkit-transition-duration:0.5s; transition-duration:0.5s; -o-transition-duration:0.5s; }


.membersBlockListPages{ border-top:1px solid #E0E0E0; padding:5px; }

.membersBlockListPagesElementSelected{ color:#428BCA; width:30px; text-align:center; font-size:1em; font-family:roboto-light; margin:0 0 0 5px; display:inline-block; vertical-align:top; }

.membersBlockListPagesElementActive{ cursor:pointer; width:30px; text-align:center; font-size:1em; font-family:roboto-light; margin:0 0 0 5px; display:inline-block; vertical-align:top;}

.membersBlockListPagesElementActive:hover{ color:#428BCA; transition-duration:0.5s; -o-transition-duration:0.5s; -webkit-transition-duration:0.5s; }

.membersBlockListPagesElementInactive{ color:#E0E0E0; width:30px; text-align:center; font-size:1em; font-family:roboto-light; margin:0 0 0 5px; display:inline-block; vertical-align:top; }

/****************************************************************************************************/
/* ACCOUNT RIGHTS PANEL */
/****************************************************************************************************/

.accountRightsPanel{ width:400px; border-radius:4px; box-sizing:border-box; border:1px solid #E0E0E0; display:inline-block; vertical-align:top; margin:40px 20px 40px 20px; }

.accountRightsPanelTitle{ border-bottom:1px solid #E0E0E0; font-size:1em; font-family:roboto-light; padding:10px; margin:0 0 10px 0; }

.accountRightsPanelRemove{ border:none; cursor:pointer; border-radius:4px; padding:4px 8px 4px 8px; color:#FFFFFF; background-color:#D9534F; font-size:1em; font-family:roboto-light; width:240px; margin:10px 10px 10px calc(100% - 250px); }

.accountRightsPanelRemove:hover{ color:#000000; background-color:#C8423E; }

.accountRightsPanelList{ margin:10px; }

.accountRightsPanelListElement{ margin:0 0 10px 0; }

.accountRightsPanelListElementCheckbox{ width:20px; height:20px; cursor:pointer; margin:0; display:inline-block; vertical-align:top; }

.accountRightsPanelListElementValue{ width:calc(100% - 30px); margin:0 0 0 10px; display:inline-block; vertical-align:top; font-size:1em; font-family:roboto-light; }

.accountRightsPanelSave{ border:none; cursor:pointer; border-radius:4px; padding:4px 8px 4px 8px; color:#FFFFFF; background-color:#5CB85C; font-size:1em; font-family:roboto-light; width:240px; margin:10px 10px 10px calc(100% - 250px); }

.accountRightsPanelSave:hover{ color:#000000; background-color:#4BA74B; }

.accountRightsPanelClose{ border:none; cursor:pointer; border-radius:4px; padding:4px 8px 4px 8px; color:#FFFFFF; background-color:#428BCA; font-size:1em; font-family:roboto-light; width:240px; margin:10px 10px 10px calc(100% - 250px); }

.accountRightsPanelClose:hover{ color:#000000; background-color:#317AB9; }

.promptYesButton{ width:80px; padding:4px 8px 4px 8px; margin:10px 10px 10px calc(50% - 90px); cursor:pointer; border:none; border-radius:4px; color:#FFFFFF; font-size:1em; font-family:roboto-light; background-color:#D9534F; }

.promptYesButton:hover{ color:#000000; background-color:#C8423E; }

.promptNoButton{ width:80px; padding:4px 8px 4px 8px; margin:10px calc(50% - 90px) 10px 10px; cursor:pointer; border:none; border-radius:4px; color:#FFFFFF; font-size:1em; font-family:roboto-light; background-color:#428BCA; }

.promptNoButton:hover{ color:#000000; background-color:#317AB9; }

/****************************************************************************************************/

@media (max-width: 319.9px)
{
  .membersBlock, .accountRightsPanel{ width:calc(100% - 20px); margin:20px 10px 20px 10px; }

  .membersBlockEmpty{ padding:10px; }

  .membersBlockHeaderAddEnabled{ margin:0 10px 10px calc(100% - 110px); }

  .membersBlockHeaderClose{ margin:0 10px 0 calc(100% - 110px); }

  .membersBlockListLabelsEmail{ font-size:0.75em; }

  .membersBlockListLabelsLastname{ font-size:0.75em; }

  .membersBlockListLabelsFirstname{ font-size:0.75em; }
}

@media (min-width: 320px) and (max-width: 479.9px)
{
  .membersBlock, .accountRightsPanel{ width:calc(100% - 20px); margin:20px 10px 20px 10px; }

  .membersBlockEmpty{ padding:10px; }

  .membersBlockListLabelsEmail{ font-size:0.75em; }

  .membersBlockListLabelsLastname{ font-size:0.75em; }

  .membersBlockListLabelsFirstname{ font-size:0.75em; }
}

@media (min-width: 480px) and (max-width: 639.9px)
{
  .membersBlock, .accountRightsPanel{ width:calc(100% - 20px); margin:20px 10px 20px 10px; }

  .membersBlockEmpty{ padding:10px; }

  .membersBlockListLabelsEmail{ font-size:0.75em; }

  .membersBlockListLabelsLastname{ font-size:0.75em; }

  .membersBlockListLabelsFirstname{ font-size:0.75em; }
}

@media (min-width: 640px) and (max-width: 779.9px)
{
  .membersBlock, .accountRightsPanel{ width:calc(100% - 20px); margin:20px 10px 20px 10px; }

  .membersBlockListLabelsEmail{ font-size:0.75em; }

  .membersBlockListLabelsLastname{ font-size:0.75em; }

  .membersBlockListLabelsFirstname{ font-size:0.75em; }
}

@media (min-width: 780px) and (max-width: 959.9px)
{
  .membersBlock, .accountRightsPanel{ width:calc(100% - 20px); margin:20px 10px 20px 10px; }
}

@media (min-width: 960px) and (max-width: 1279.9px)
{
  .membersBlock, .accountRightsPanel{ width:calc(100% - 20px); margin:20px 10px 20px 10px; }
}

@media (min-width: 1280px) and (max-width: 1679.9px)
{

}

@media (min-width: 1680px)
{

}

/****************************************************************************************************/