/****************************************************************************************************/

.appBlock{ cursor:pointer; margin-bottom:20px; margin-right:20px; border-radius:4px; box-shadow:0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2); max-width:300px; position:relative; text-decoration:none; display:block; color:#000000; }

.appBlock:hover .appBlockDescription{ display:block; }

.appBlockDescription{ border-radius:4px; padding:20px; font-size:1em; background-color:#FFFFFF; position:absolute; top:0; right:0; bottom:0; left:0; display:none; }

.appBlockDescriptionTitle{ padding:10px; font-size:1.2em; font-family:roboto-regular; }

.appBlockDescriptionContent{ padding:20px 10px 10px 10px; font-size:1em; font-family:roboto-light; }

.appBlockPictureContainer{ width:100%; max-height:150px; overflow:hidden; }

.appBlockPicture{ max-width:100%; max-height:100%; border-radius:4px 4px 0 0; }

.appBlockName{ padding:40px 10px 40px 10px; font-size:1.2em; font-family:roboto-regular; }

.appBlockAccess{ border-top:1px solid #DDD; color:#000000; text-align:center; padding:20px; box-sizing:border-box; background-color:#FAFAFA; font-size:1em; font-family:roboto-light; }

/****************************************************************************************************/

.appBlockNoAccess{ margin-bottom:20px; border-radius:4px; box-shadow:0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2); max-width:300px; position:relative; opacity:0.5; }

.appBlockNoAccess:hover .appBlockNoAccessDescription{ display:block; }

.appBlockNoAccessDescription{ border-radius:4px; padding:20px; font-size:1em; background-color:#FFFFFF; position:absolute; top:0; right:0; bottom:0; left:0; display:none; }

.appBlockNoAccessDescriptionTitle{ padding:10px; font-size:1.2em; font-family:roboto-regular; }

.appBlockNoAccessDescriptionContent{ padding:20px 10px 10px 10px; font-size:1em; font-family:roboto-light; }

.appBlockNoAccessPictureContainer{ width:100%; max-height:150px; overflow:hidden; }

.appBlockNoAccessPicture{ max-width:100%; max-height:100%; border-radius:4px 4px 0 0; }

.appBlockNoAccessName{ padding:40px 10px 40px 10px; font-size:1.2em; font-family:roboto-regular; }

.appBlockNoAccessMessage{ border-top:1px solid #DDD; color:#D9534F; text-align:center; padding:20px; box-sizing:border-box; background-color:#FAFAFA; font-size:1em; font-family:roboto-light; }

/****************************************************************************************************/

@media (max-width: 319.9px)
{
  .appBlock{ width:calc(100% - 40px); margin:0 20px 20px 20px; }

  .appBlockNoAccess{ width:calc(100% - 40px); margin:0 20px 20px 20px; }
}

@media (min-width: 320px) and (max-width: 479.9px)
{
  .appBlock{ width:calc(100% - 40px); margin:0 20px 20px 20px; }

  .appBlockNoAccess{ width:calc(100% - 40px); margin:0 20px 20px 20px; }
}

@media (min-width: 480px) and (max-width: 639.9px)
{

}

@media (min-width: 640px) and (max-width: 799.9px)
{

}

@media (min-width: 800px) and (max-width: 959.9px)
{

}

@media (min-width: 960px) and (max-width: 1119.9px)
{

}

@media (min-width: 1120px) and (max-width: 1279.9px)
{

}

@media (min-width: 1280px) and (max-width: 1439.9px)
{

}

@media (min-width: 1440px) and (max-width: 1599.9px)
{

}

@media (min-width: 1600px)
{

}