/****************************************************************************************************/

.addStoppageForm{ padding:60px 20px 60px 20px; width:400px; box-sizing:border-box; margin:0 calc(50% - 200px) 0 calc(50% - 200px); }

.addStoppageFormError{ font-size:1em; text-align:center; margin:10px 0 20px 0; color:#D9534F; display:none; }

.addStoppageFormField{ width:100%; margin:10px 0 20px 0; }

.addStoppageFormFieldError{ font-size:0.8em; color:#D9534F; display:none; }

.addStoppageFormField label{ font-size:1em; color:rgba(0,0,0,0.75); margin-bottom:5px; display:block; }

.addStoppageFormField input{ width:100%; box-sizing:border-box; border:1px solid rgba(0,0,0,0.25); border-radius:4px; padding:4px; }

.addStoppageFormField select{ width:100%; box-sizing:border-box; border:1px solid rgba(0,0,0,0.25); border-radius:4px; padding:4px; }

.addStoppageFormField textarea{ resize:none; width:100%; box-sizing:border-box; border:1px solid rgba(0,0,0,0.25); border-radius:4px; padding:5px; height:120px; }

.addStoppageFormSubmit{ width:100%; margin-top:20px; border-radius:4px; border:1px solid #759EB8; background-color:#FFFFFF; cursor:pointer; color:#759EB8; padding:5px 15px 5px 15px; }

.addStoppageFormSubmit:hover{ color:#537CA6; border:1px solid #537CA6; }

/****************************************************************************************************/
