/****************************************************************************************************/

.stoppageDetailWrapper{ display:flex; flex-direction:row; justify-content:center; width:100%; padding:40px 20px 40px 20px; box-sizing:border-box; }

.stoppageDetailContainer{ width:100%; max-width:500px; }

.stoppageDetailContainerData{ margin:10px 0 10px 0; display:flex; flex-direction:row; align-items:center; justify-content:flex-start; }

.stoppageDetailContainerDataKey{ margin-right:10px; font-weight:bold; font-size:0.9em; }

.stoppageDetailContainerDataValue{ font-size:1em; font-style:italic; }

.stoppageDetailContainerAttachments{ margin:20px 0 20px 0; }

.stoppageDetailContainerAttachmentsTitle{ font-size:1.25em; font-weight:lighter; border-bottom:1px solid rgba(0,0,0,0.25); padding-bottom:5px; }

.stoppageDetailContainerAttachmentsEmpty{ font-style:italic; font-size:1em; text-align:center; margin-top:20px; display:none; }

.stoppageDetailContainerAttachmentsAdd{ width:100%; font-size:0.9em; box-sizing:border-box; border:none; background-color:#759EB8; color:#FFFFFF; padding:5px 15px 5px 15px; cursor:pointer; border-radius:2px; margin-top:20px; }

.stoppageDetailContainerAttachmentsAdd:hover{ background-color:#537C96; }


.stoppageDetailContainerAttachment{ border-bottom:1px solid rgba(0,0,0,0.25); margin:20px 0 20px 0; }

.stoppageDetailContainerAttachmentLabel{ font-size:1.25em; color:rgba(0,0,0,0.75); border-bottom:1px solid rgba(0,0,0,0.25); padding-bottom:10px; }

.stoppageDetailContainerAttachmentFile{ font-size:1em; text-decoration:underline; color:#759EB8; margin:10px 0 10px 0; cursor:pointer; user-select:none; -ms-user-select:none; -moz-user-select:none; -webkit-user-select:none; }

.stoppageDetailContainerAttachmentComment{ color:rgba(0,0,0,0.5); font-size:0.9em; font-style:italic; width:100%; box-sizing:border-box; border-radius:2px; border:1px solid rgba(0,0,0,0.25); padding:10px; background-color:rgba(0,0,0,0.05); }

.stoppageDetailContainerAttachmentDownload{ background-color:#759EB8; color:#FFFFFF; padding:5px 15px 5px 15px; border-radius:2px; border:none; margin:10px 0 10px 0; cursor:pointer; }

.stoppageDetailContainerAttachmentDownload:hover{ background-color:#537C96; }


.stoppageDetailEvents{ border-bottom:1px solid rgba(0,0,0,0.25); margin:40px 0 20px 0; }

.stoppageDetailEventsHeader{ font-size:1.25em; color:rgba(0,0,0,0.75); border-bottom:1px solid rgba(0,0,0,0.25); padding-bottom:10px; }

.stoppageDetailEventsEmpty{ text-align:center; margin:20px; font-size:0.9em; font-style:italic; }


.stoppageDetailActions{ margin-top:40px; border-bottom:1px solid rgba(0,0,0,0.25); padding-bottom:10px; }

.stoppageDetailActions .header{ font-size:1.25em; color:rgba(0,0,0,0.75); border-bottom:1px solid rgba(0,0,0,0.25); padding-bottom:10px; margin-bottom:10px; }

.stoppageDetailActions button{ width:100%; border:1px solid #428BCA; background-color:#FFFFFF; color:#428BCA; border-radius:4px; padding:5px 15px 5px 15px; box-sizing:border-box; margin:5px 0 5px 0; cursor:pointer; }

.stoppageDetailActions button:hover{ color:#2069A8; border:1px solid #2069A8; }


.stoppageDetailProlongations{ margin:40px 0 20px 0; }

.stoppageDetailProlongations .header{ font-size:1.25em; color:rgba(0,0,0,0.75); padding-bottom:10px; }

.stoppageDetailProlongations .empty{ border-top:1px solid rgba(0,0,0,0.25); border-bottom:1px solid rgba(0,0,0,0.25); font-style:italic; font-size:0.9em; text-align:center; padding:20px 0 20px 0; display:none; }

.stoppageDetailProlongations .list{ border-top:1px solid rgba(0,0,0,0.25); border-bottom:1px solid rgba(0,0,0,0.25); padding:10px 0 10px 0; }

.stoppageDetailProlongations button{ margin-top:10px; background-color:#759EB8; color:#FFFFFF; padding:5px 15px 5px 15px; border-radius:2px; border:none; cursor:pointer; }

.stoppageDetailProlongations button:hover{ background-color:#537C96; }

.stoppageDetailProlongations .list .element{ background-color:rgba(0,0,0,0.05); border-radius:2px; margin:10px 0 10px 0; }

.stoppageDetailProlongations .list .element .dates{ padding:5px 10px 5px 10px; }

.stoppageDetailProlongations .list .element .dates .date{ margin:5px 0 5px 0; display:flex; flex-direction:row; align-items:center; justify-content:space-between; }

.stoppageDetailProlongations .list .element .dates .date .label{ font-size:0.9em; font-style:italic; margin-right:10px; }

.stoppageDetailProlongations .list .element .dates .date .value{ font-weight:bold; font-size:0.9em; }

.stoppageDetailProlongations .list .element .attachment{ padding:0 10px 10px 10px; font-size:1em; text-decoration:underline; color:#759EB8; cursor:pointer; user-select:none; -ms-user-select:none; -moz-user-select:none; -webkit-user-select:none; }

.stoppageDetailProlongations .list .element .attachment:hover{ color:#537C96; }


.addProlongationForm{ padding:10px 20px 10px 20px; }

.addProlongationFormField{ margin:10px 0 10px 0; }

.addProlongationFormFieldError{ font-size:0.8em; color:#D9534F; display:none; }

.addProlongationFormField label{ font-size:0.9em; display:block; margin-bottom:5px; }

.addProlongationFormField input{ width:100%; box-sizing:border-box; border:1px solid rgba(0,0,0,0.25); border-radius:4px; padding:4px; }

.addProlongationFormButtons{ margin:20px 0 10px 0; display:flex; flex-direction:row; align-items:center; justify-content:flex-end; flex-wrap:wrap; }

.addProlongationFormButtonsConfirm{ margin-left:10px; cursor:pointer; font-size:0.9em; padding:5px 15px 5px 15px; background-color:#FFFFFF; color:#759EB8; border:1px solid #759EB8; border-radius:4px; }

.addProlongationFormButtonsConfirm:hover{ color:#537C96; border:1px solid #537C96; }

.addProlongationFormButtonsCancel{ margin-left:10px; cursor:pointer; font-size:0.9em; padding:5px 15px 5px 15px; background-color:#FFFFFF; color:#D9534F; border:1px solid #D9534F; border-radius:4px; }

.addProlongationFormButtonsCancel:hover{ color:#B7312D; border:1px solid #B7312D; }

/****************************************************************************************************/
