/****************************************************************************************************/

.listMainContainer{ padding:20px; }

.listMainContainerAdd{ display:flex; flex-direction:row; justify-content:flex-end; margin-bottom:20px; }

.listMainContainerAdd button{ border:1px solid #428BCA; border-radius:4px; padding:5px 15px 5px 15px; background-color:#FFFFFF; color:#428BCA; cursor:pointer; }

.listMainContainerAdd button:hover{ color:#2069A8; border:1px solid #2069A8; }

.listMainContainerEmpty{ margin:60px 0 60px 0; text-align:center; font-size:1.5em; color:rgba(0,0,0,0.75); display:none; }

.listMainContainerList{ margin:20px 0 20px 0; }


.listStoppage{ margin:20px 0 20px 0; border-radius:2px; border:1px solid rgba(0,0,0,0.25); }

.listStoppageAccess{ display:flex; flex-direction:row; justify-content:flex-end; padding:10px 20px 10px 20px; }

.listStoppageAccess button{ cursor:pointer; border:1px solid #428BCA; color:#428BCA; background-color:#FFFFFF; padding:5px 15px 5px 15px; border-radius:4px; }

.listStoppageAccess button:hover{ color:#2069A8; border:1px solid #2069A8; }

.listStoppageHeader{ padding:10px 20px 10px 20px; border-bottom:1px solid rgba(0,0,0,0.25); display:flex; flex-direction:row; justify-content:space-between; align-items:flex-start; flex-wrap:wrap; }

.listStoppageHeaderData{ margin-right:10px; display:flex; flex-direction:column; justify-content:flex-start; }

.listStoppageHeaderDataElement{ display:flex; flex-direction:row; align-items:center; justify-content:space-between; }

.listStoppageHeaderDataElementKey{ font-style:italic; font-size:1em; margin-right:10px; }

.listStoppageHeaderDataElementValue{ color:rgba(0,0,0,0.75); font-size:1em; }

.listStoppageHeaderDates{ display:flex; flex-direction:column; justify-content:flex-start; }

.listStoppageHeaderDatesElement{ display:flex; flex-direction:row; align-items:center; justify-content:space-between; }

.listStoppageHeaderDatesElementKey{ font-style:italic; font-size:0.9em; margin-right:5px; }

.listStoppageHeaderDatesElementValue{ color:rgba(0,0,0,0.75); font-size:0.9em; }

/****************************************************************************************************/
