/****************************************************************************************************/

.accounts{ position:relative; box-sizing:border-box; background-color:#FFFFFF; border:1px solid #F0F0F0; border-radius:4px; width:800px; margin:20px; padding:0 0 5px 0; display:inline-block; vertical-align:top; }

.accounts .popup{ position:absolute; top:0; left:0; right:0; }

.accounts .popup .blue{ background-color:#E6E6FA; border-radius:4px; border:1px solid #C4C4D8; width:90%; margin:10px 5% 10px 5%; box-sizing:border-box; padding:10px; text-align:center; font-family:roboto-light;  }

.accounts .popup .red{ background-color:#F08080; border-radius:4px; border:1px solid #D06060; width:90%; margin:10px 5% 10px 5%; box-sizing:border-box; padding:10px; text-align:center; font-family:roboto-light; }

.accounts .title{ font-size:20px; line-height:24px; font-family:roboto-light; padding:10px; border-bottom:1px solid #F0F0F0; }

.accounts .error .message{ color:#D9534F; font-size:16px; line-height:24px; padding:10px; font-family:roboto-light; }

.accounts .error .detail{ color:#B0B0B0; font-family:roboto-light-italic; font-size:14px; line-height:18px; padding:10px; }

.accounts .empty{ color:#D9534F; padding:10px; line-height:24px; font-size:16px; font-family:roboto-light; text-align:center; }

.accounts .labels{ padding:10px; font-size:16px; line-height:20px; font-family:roboto-light-italic; box-sizing:border-box; }

.accounts .labels .email{ width:30%; display:inline-block; vertical-align:top; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.accounts .labels .lastname{ width:25%; display:inline-block; vertical-align:top; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.accounts .labels .firstname{ width:25%; display:inline-block; vertical-align:top; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.accounts .labels .suspended{ width:20%; display:inline-block; vertical-align:top; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.accounts .account{ padding:5px 10px 5px 10px; box-sizing:border-box; font-size:14px; line-height:18px; font-family:roboto-light; border-bottom:1px solid #F0F0F0; }

.accounts .account.hide{ display:none; }

.accounts .account:hover{ background-color:#CCDDFF; cursor:pointer; }

.accounts .account .email{ display:inline-block; vertical-align:top; width:30%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.accounts .account .lastname{ display:inline-block; vertical-align:top; width:25%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.accounts .account .firstname{ display:inline-block; vertical-align:top; width:25%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.accounts .account .suspended{ display:inline-block; vertical-align:top; width:20%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.accounts .account .suspended.true{ color:#D9534F; }

.accounts .account .suspended.false{ color:#5CB85C; }

.accounts .pages{ padding:10px; margin:0 0 0 calc(100% - 270px); }

.accounts .page{ width:25px; text-align:center; line-height:16px; font-size:14px; padding:4px 0 0 0; box-sizing:border-box; display:inline-block; vertical-align:top; font-family:roboto-light; cursor:pointer; }

.accounts .page:hover{ color:#428BCA; }

.accounts .page.selected{ color:#428BCA; cursor:default; }

.accounts .page.inactive{ color:#D0D0D0; cursor:default; }

.create{ box-sizing:border-box; background-color:#FFFFFF; border:1px solid #F0F0F0; border-radius:4px; width:800px; margin:20px; padding:0 0 5px 0; display:inline-block; vertical-align:top; position:relative; }

.create .title{ font-size:20px; line-height:24px; font-family:roboto-light; padding:10px; border-bottom:1px solid #F0F0F0; }

.create .message{ color:#D9534F; font-size:16px; line-height:24px; padding:10px; font-family:roboto-light; }

.create .block{ position:absolute; z-index:10; top:45px; left:10px; right:10px; bottom:10px; }

.create .block .error{ color:#D9534F; font-size:16px; line-height:24px; padding:10px; font-family:roboto-light; text-align:center; }

.create .block .success{ color:#5CB85C; font-size:16px; line-height:24px; padding:10px; font-family:roboto-light; text-align:center; }

.create .block .ok{ border:none; border-radius:4px; background-color:#428BCA; color:#FFFFFF; font-size:16px; line-height:24px; font-family:roboto-light; cursor:pointer; padding:4px 0 4px 0; width:60px; margin:10px calc(50% - 30px) 10px calc(50% - 30px); }

.create .block .ok:hover{ color:#000000; }

.create .form{ margin:20px; }

.create .form .label{ font-size:16px; line-height:24px; padding:10px 10px 5px 10px; font-family:roboto-light; width:150px; display:inline-block; vertical-align:top; }

.create .form .input{ border:1px solid #E0E0E0; border-radius:4px; font-size:16px; line-height:24px; display:inline-block; vertical-align:top; width:calc(100% - 187px); margin:10px 10px 0 0; padding:0 0 0 5px; font-family:roboto-light; }

.create .form .error{ display:none; width:calc(100% - 180px); line-height:24px; font-size:16px; font-family:roboto-light-italic; color:#D9534F; padding:10px 10px 0 170px; }

.create .form .send{ margin:10px 10px 10px calc(100% - 225px); width:100px; border:none; border-radius:4px; background-color:#428BCA; color:#FFFFFF; font-size:16px; line-height:18px; font-family:roboto-light; padding:4px 0 4px 0; cursor:pointer; }

.create .form .reset{ margin:10px 10px 10px 0; width:100px; border:none; border-radius:4px; background-color:#D9534F; color:#FFFFFF; font-size:16px; line-height:18px; font-family:roboto-light; padding:4px 0 4px 0; cursor:pointer; }

.create .form .send:hover, .form .reset:hover{ color:#000000; }

/****************************************************************************************************/

@media (max-width: 319px)
{
  .accounts{ width:calc(100% - 40px); margin:20px; }

  .create{ width:calc(100% - 40px); margin:20px; }

  .form .label{ width:calc(100% - 20px); }

  .form .input{ width:calc(100% - 20px); margin:0 10px 0 10px; }

  .form .error{ width:calc(100% - 20px); padding:10px 10px 0 10px; }
}

@media (min-width: 320px) and (max-width: 479px)
{
  .accounts{ width:calc(100% - 40px); margin:20px; }

  .create{ width:calc(100% - 40px); margin:20px; }

  .form .label{ width:calc(100% - 20px); }

  .form .input{ width:calc(100% - 20px); margin:0 10px 0 10px; }

  .form .error{ width:calc(100% - 20px); padding:10px 10px 0 10px; }
}

@media (min-width: 480px) and (max-width: 639px)
{
  .accounts{ width:calc(100% - 40px); margin:20px; }

  .create{ width:calc(100% - 40px); margin:20px; }
}

@media (min-width: 640px) and (max-width: 779px)
{
  .accounts{ width:calc(100% - 40px); margin:20px; }

  .create{ width:calc(100% - 40px); margin:20px; }
}

@media (min-width: 780px) and (max-width: 959px)
{
  .accounts{ width:calc(100% - 40px); margin:20px; }

  .create{ width:calc(100% - 40px); margin:20px; }
}

@media (min-width: 960px) and (max-width: 1279px)
{

}

@media (min-width: 1280px) and (max-width: 1679px)
{

}

@media (min-width: 1680px)
{

}

/****************************************************************************************************/