<div class="configNavBar">
  <a href="/administration/configuration/general" class="<% if(currentConfigTab === 'general'){ %>configNavBarElementSelected<% } else{ %>configNavBarElement<% } %>"><%= strings.administrationStrings.configurationNavigationBar.general %></a>
  <a href="/administration/configuration/database" class="<% if(currentConfigTab === 'database'){ %>configNavBarElementSelected<% } else{ %>configNavBarElement<% } %>"><%= strings.administrationStrings.configurationNavigationBar.database %></a>
  <a href="/administration/configuration/transporter" class="<% if(currentConfigTab === 'transporter'){ %>configNavBarElementSelected<% } else{ %>configNavBarElement<% } %>"><%= strings.administrationStrings.configurationNavigationBar.transporter %></a>
  <a href="/administration/configuration/storage" class="<% if(currentConfigTab === 'storage'){ %>configNavBarElementSelected<% } else{ %>configNavBarElement<% } %>"><%= strings.administrationStrings.configurationNavigationBar.storage %></a>
</div>