<div class="configNavBar">
  <a href="/administration/units/" class="<% if(currentConfigTab === 'home'){ %>configNavBarElementSelected<% } else{ %>configNavBarElement<% } %>"><%= strings.administrationStrings.unitsNavigationBar.home %></a>
  <a href="/administration/units/create" class="<% if(currentConfigTab === 'create'){ %>configNavBarElementSelected<% } else{ %>configNavBarElement<% } %>"><%= strings.administrationStrings.unitsNavigationBar.create %></a>
</div>