<nav class='navigationBar'>
  <div class='navigationBarMenu'><i class='fas fa-bars fa-2x'></i></div><!--
  --><div class='navigationBarTitle'>%TITLE%</div><!--
  --><div class='navigationBarAccount'><div class='navigationBarAccountIcon'><i class='fas fa-user-circle fa-2x'></i></div><div class='navigationBarAccountValue'><%= account.email %></div></div>
</nav>