/****************************************************************************************************/
/* Main Block */
/****************************************************************************************************/

.storageServiceMainBlock{ color:#000000; max-width:2400px; margin:40px 20px 40px 20px; display:flex; flex-direction:row; }

/****************************************************************************************************/
/* Aside Tools */
/****************************************************************************************************/

.storageServiceMainBlockTools{ margin-right:20px; padding:10px; width:250px; }

.storageServiceMainBlockToolsServiceName{ font-size:1.2em; padding-bottom:10px; border-bottom:1px solid rgba(0,0,0,0.24); margin-bottom:40px; }


.storageServiceMainBlockToolsFilesAndFoldersBlock{ margin:40px 0 20px 0; }

.storageServiceMainBlockToolsFilesAndFoldersButton{ outline:none; box-shadow:0 1px 2px 0 rgba(0,0,0,0.3), 0 1px 3px 1px rgba(0,0,0,0.1); margin-bottom:20px; cursor:pointer; width:100%; border:none; border-radius:20px; background-color:#FFFFFF; font-size:0.8em; font-weight:bold; padding:8px; }

.storageServiceMainBlockToolsFilesAndFoldersButton:hover{ color:#428BCA; background-color:rgba(0,0,0,0.03); }

.storageServiceMainBlockToolsFilesAndFoldersDisabledMessage{ color:#D9534F; font-size:0.8em; text-align:center; font-weight:bold; margin-bottom:20px; }


.storageServiceMainBlockToolsSelectionBlock{ margin:20px 0 40px 0; border-top:1px solid rgba(0,0,0,0.24); }

.storageServiceMainBlockToolsSelectionAmount{ display:flex; flex-direction:row; justify-content:space-between; margin:20px 0 20px 0; }

.storageServiceMainBlockToolsSelectionAmountKey{ font-size:0.9em; margin-right:10px; }

.storageServiceMainBlockToolsSelectionAmountValue{ font-weight:bold; font-size:0.9em; }

.storageServiceMainBlockToolsSelectionActionsBlock{ margin:20px 0 20px 0; }

.storageServiceMainBlockToolsSelectionActionsDisabled{ color:#D9534F; font-size:0.8em; text-align:center; font-weight:bold; margin-bottom:20px; }

.storageServiceMainBlockToolsSelectionActionsButtonDisabled{ color:rgba(0,0,0,0.48); box-shadow:0 1px 2px 0 rgba(0,0,0,0.3), 0 1px 3px 1px rgba(0,0,0,0.1); text-align:center; font-size:0.8em; font-weight:bold; padding:8px; border-radius:20px; margin-bottom:20px; }

.storageServiceMainBlockToolsSelectionActionsButtonEnabled{ color:#428BCA; box-shadow:0 1px 2px 0 rgba(0,0,0,0.3), 0 1px 3px 1px rgba(0,0,0,0.1); text-align:center; font-size:0.8em; font-weight:bold; padding:8px; border-radius:20px; margin-bottom:20px; cursor:pointer; }

.storageServiceMainBlockToolsSelectionActionsButtonEnabled:hover{ background-color:rgba(0,0,0,0.06); }


.storageServiceMainBlockToolsFiltersBlock{ margin:40px 0 40px 0; box-shadow:0 1px 2px 0 rgba(0,0,0,0.3), 0 1px 3px 1px rgba(0,0,0,0.1); }

.storageServiceMainBlockToolsFiltersTitle{ font-size:1em; padding:10px; border-bottom:1px solid rgba(0,0,0,0.24); }

.storageServiceMainBlockToolsFiltersList{ padding:10px; }

.storageServiceMainBlockToolsFiltersListElement{ display:flex; flex-direction:row; justify-content:space-between; align-items:center; margin:5px 0 5px 0; }

.storageServiceMainBlockToolsFiltersListElementLabel{ font-size:0.8em; font-weight:bold; margin-right:10px; }

.storageServiceMainBlockToolsFiltersListElementCheckbox{ height:18px; width:18px; margin:0; padding:0; cursor:pointer; }

/****************************************************************************************************/
/* Files Section */
/****************************************************************************************************/

.storageServiceMainBlockFiles{ margin-left:20px; width:calc(100% - 290px); }

.storageServiceMainBlockFilesHeader{ display:flex; flex-direction:row; justify-content:flex-start; align-items:center; }


.storageServiceMainBlockFilesHeaderSearchBlock{ position:relative; background-color:rgba(0,0,0,0.08); border-radius:20px; height:32px; display:flex; flex-direction:row; justify-content:flex-start; align-items:center; }

.storageServiceMainBlockFilesHeaderSearchIcon{ color:rgba(0,0,0,0.72); width:16px; height:16px; margin-left:8px; }

.storageServiceMainBlockFilesHeaderSearchBar{ outline:none; border-radius:20px; height:32px; border:none; background-color:rgba(0,0,0,0); padding:8px; box-sizing:border-box; width:300px; font-size:0.9em; }


.storageServiceMainBlockFilesHeaderDisplaySelection{ display:flex; flex-direction:row; margin-left:20px; }

.storageServiceMainBlockFilesHeaderDisplaySelectionElementEnabled, .storageServiceMainBlockFilesHeaderDisplaySelectionElementDisabled{ margin-right:10px; font-size:1.5em; }

.storageServiceMainBlockFilesHeaderDisplaySelectionElementEnabled{ color:#428BCA; }

.storageServiceMainBlockFilesHeaderDisplaySelectionElementDisabled{ color:rgba(0,0,0,0.24); cursor:pointer; }

.storageServiceMainBlockFilesHeaderDisplaySelectionElementDisabled:hover{ color:rgba(0,0,0,0.48); }


.storageServiceMainBlockFilesPath{ font-size:1.2em; margin:20px 0 20px 0; border-bottom:1px solid rgba(0,0,0,0.24); padding-bottom:5px; width:100%; display:flex; flex-direction:row; flex-wrap:wrap; justify-content:flex-start; align-items:top; }

.storageServiceMainBlockFilesPathBlock{ margin-right:20px; display:flex; flex-direction:row; align-items:center; }

.storageServiceMainBlockFilesPathBlockLabel{ margin-right:20px; padding:10px; }

.storageServiceMainBlockFilesPathBlockLabel:hover{ background-color:rgba(0,0,0,0.06); cursor:pointer; border-radius:4px; }

.storageServiceMainBlockFilesPathBlockIcon{ font-size:0.8em; color:rgba(0,0,0,0.6); }

.storageServiceMainBlockFilesPathBlockSelected{ margin-right:10px; color:#428BCA; padding:10px; background-color:rgba(0,0,0,0.06); border-radius:4px; }


.storageServiceMainBlockCreateFolder{ font-size:0.8em; padding:8px 16px 8px 16px; border-radius:4px; border:none; background-color:#539CDB; color:#FFFFFF; }

.storageServiceMainBlockCreateFolderDisabled{ color:#D9534F; font-size:0.8em; font-weight:bold; margin:10px; }

/****************************************************************************************************/
/* Service Elements */
/****************************************************************************************************/

.serviceElements{ display:flex; flex-direction:row; justify-content:flex-start; flex-wrap:wrap; align-items:top; }

.serviceElementsEmpty{ font-size:1.2em; text-align:center; margin:40px; }

.serviceElementsFileLargeGrid{ margin:0 10px 20px 0; width:100px; border-radius:4px; cursor:pointer; padding:10px; position:relative; }

.serviceElementsFileLargeGrid:hover{ background-color:rgba(0,0,255,0.06); }

.serviceElementsFileLargeGrid .checkbox{ position:absolute; top:5px; right:5px; width:18px; height:18px; cursor:pointer; }

.serviceElementsFileLargeGrid .icon{ font-size:5em; text-align:center; }

.serviceElementsFileLargeGrid .name{ font-size:0.8em; text-align:center; word-break:break-all; }

.serviceElementsFolder{ color:#EBA432; }

.serviceElementsFileDefault{ color:#34393C; }

.serviceElementsFileArchive{ color:#34393C; }

.serviceElementsFileTxt{ color:#8B9DC3; }

.serviceElementsFileDoc{ color:#428BCA; }

.serviceElementsFileDocx{ color:#428BCA; }

.serviceElementsFilePpt{ color:#EBA432; }

.serviceElementsFilePptx{ color:#EBA432; }

.serviceElementsFileXls{ color:#86AA6D; }

.serviceElementsFileXlsx{ color:#86AA6D; }

.serviceElementsFilePdf{ color:#DB494C; }

.serviceElementsFilePng{ color:#64ADEC; }

.serviceElementsFileJpg{ color:#64ADEC; }

/****************************************************************************************************/