/****************************************************************************************************/

.fileDetailBackground{ position:absolute; min-height:800px; top:0; right:0; bottom:0; left:0; z-index:190; background-color:rgba(0,0,0,0.3); }

.fileDetailAside{ position:absolute; display:flex; justify-content:flex-start; flex-direction:column; min-height:calc(800px - 20px); top:10px; bottom:10px; left:10px; border-radius:4px; width:400px; max-width:calc(100% - 20px); margin-right:20px; z-index:200; background-color:#FFFFFF; }

.fileDetailAsideSpinner{ display:flex; height:100%; width:100%; flex-direction:row; align-items:center; justify-content:center; width:100%; font-size:4em; color:#64ADEC; }

.fileDetailAsideTitle{ font-size:1.5em; padding:0 20px 20px 20px; margin-bottom:20px; border-bottom:1px solid rgba(0,0,0,0.24); }

.fileDetailAsideClose{ width:max-content; text-decoration:underline; margin:10px 10px 0 auto; cursor:pointer; }

.fileDetailAsideClose:hover{ color:#D9534F; }


.fileDetailAsideComment{ outline:none; flex-shrink:0; width:calc(100% - 40px); margin:20px; padding:8px 16px 8px 16px; font-size:1em; border:1px solid rgba(0,0,0,0.24); border-radius:20px; background-color:#FFFFFF; cursor:pointer; }

.fileDetailAsideComment:hover{ background-color:rgba(0,0,0,0.09); }


.fileDetailAsideNameContainer{ display:flex; flex-direction:row; align-items:center; flex-wrap:wrap; justify-content:space-between; margin:20px; }

.fileDetailAsideNameLabel{ font-size:1.1em; width:max-content; margin-right:10px; }

.fileDetailAsideNameValue{ font-size:1.2em; font-weight:bold; word-break:break-all; }


.fileDetailAsideLogsSection{ width:calc(100% - 20px); display:flex; flex-direction:column; margin:20px 10px 20px 10px; border:1px solid rgba(0,0,0,0.24); border-radius:4px; }

.fileDetailAsideLogsTitle{ padding:10px; border-bottom:1px solid rgba(0,0,0,0.24); }

.fileDetailAsideLogsList{ padding:10px; overflow-y:auto; }


.fileLogUpload{ border-left:5px solid #86AA6D; margin-bottom:10px; padding:10px; background-color:rgba(0,0,0,0.09); }

.fileLogDownload{ border-left:5px solid #64ADEC; margin-bottom:10px; padding:10px; background-color:rgba(0,0,0,0.09); }

.fileLogRemove{ border-left:5px solid #D9534F; margin-bottom:10px; padding:10px; background-color:rgba(0,0,0,0.09); }

/****************************************************************************************************/

.addCommentOnFilePopup{ position:absolute; z-index:300; top:80px; width:800px; left:calc(50% - 400px); background-color:#FFFFFF; border-radius:4px; }

.addCommentOnFilePopupTitle{ padding:20px; font-size:1.2em; border-bottom:1px solid rgba(0,0,0,0.24); margin-bottom:20px; }

.addCommentOnFilePopupHelp{ padding:20px; }

.addCommentOnFilePopupInput{ width:calc(100% - 40px); margin:20px; resize:none; height:300px; font-size:1em; padding:10px; box-sizing:border-box; background-color:#FFFFFF; border-radius:4px; border:1px solid rgba(0,0,0,0.24); }

/****************************************************************************************************/

@media (max-width:839.9px)
{
  .addCommentOnFilePopup{ width:calc(100% - 40px); left:20px; top:20px; }
}

/****************************************************************************************************/