<aside class="asideBlock">
  <div class="asideBlockList">
    <a class="<% if(currentLocation === 'home'){ %>asideBlockListElementSelected<% } else{ %>asideBlockListElement<% } %>" href="/home"><%= strings.common.locations.home %></a>
    <a class="<% if(currentLocation === 'apps'){ %>asideBlockListElementSelected<% } else{ %>asideBlockListElement<% } %>" href="/apps"><%= strings.common.locations.apps %></a>
    <a class="<% if(currentLocation === 'news'){ %>asideBlockListElementSelected<% } else{ %>asideBlockListElement<% } %>" href="/news"><%= strings.common.locations.news %></a>
    <a class="<% if(currentLocation === 'account'){ %>asideBlockListElementSelected<% } else{ %>asideBlockListElement<% } %>" href="/account"><%= strings.common.locations.account %></a>
  </div>
</aside>