<footer class="footerBlock">
  <div class="footerBlockElement">
    <div class="footerBlockElementTitle">Siège</div>
    <div class="footerBlockElementContent">8, rue du docteur Charcot 91420 Morangis<br>Tél. : 0 800 00 41 40 (appel gratuit)</div>
  </div>
  <div class="footerBlockElement">
    <div class="footerBlockElementTitle">Horaires</div>
    <div class="footerBlockElementContent">Du lundi au jeudi : de 9h à 12h30 et de 13h30 à 18h<br>Le vendredi : de 9h à 12h</div>
  </div>
  <div class="footerBlockElement">
    <div class="footerBlockElementTitle">© 2018 Propreté Environnement Industriel</div>
  </div>
</footer>