<div class="headerBlock">
  <div class="headerBlockNavigation">
    <div class="headerBlockNavigationTitle">
      <div class="headerBlockNavigationTitleIcon"><img src="/pictures/a.png" height="52px" width="77px" /></div>
      <div class="headerBlockNavigationTitleValue">INTRANET</div>
    </div><!--
    --><div class="headerBlockNavigationAccount">
      <div class="headerBlockNavigationAccountBlock" id="headerBlockNavigationAccountBlock">
        <div class="headerBlockNavigationAccountBlockValue"><%= account.email %></div><div class="headerBlockNavigationAccountBlockAvatar"><img class="headerBlockNavigationAccountBlockPicture" src="data:image/jpeg;base64,<%= account.picture %>" /></div>
        <div class="headerBlockNavigationAccountMenu" id="headerBlockNavigationAccountBlockMenu">
          <ul class="headerBlockNavigationAccountMenuList">
            <li class="headerBlockNavigationAccountMenuListElement"><a class="headerBlockNavigationAccountMenuListElementLink" href="/account">Mon Compte</a></li>
            <li class="headerBlockNavigationAccountMenuListElement"><div class="headerBlockNavigationAccountMenuListElementLink" id="logoutButton">Déconnexion</div></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>