<div style="background-color:rgba(0,0,0,0.03); position:fixed; top:0; right:0; bottom:0; left:0; z-index:-1;"></div>
<div style="overflow:hidden; border-radius:2px; box-shadow:0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2); background-color:#FFFFFF; max-width:calc(100% - 40px); width:600px; margin:40px auto 40px auto; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
  <div style="padding:20px 0 20px 0; font-size:1.3em; margin:20px 20px 40px 20px; border-bottom:1px solid #CCC;">Bonjour</div>
  <div style="margin:20px; text-align:justify;">Un compte a été créé pour vous sur le portail des application PEI.</div>
  <div style="margin:20px; text-align:justify;">Pour vous y connecter vous devez utiliser l'adresse email <span style="color:#428BCA"><%= emailAddress %></span> ainsi que le mot de passe suivant :</div>
  <div style="margin:40px 20px 40px 20px; font-weight:bold; font-size:1.5em;"><%= clearPassword %></div>
  <div style="margin:20px; color:#D9534F; font-size:1.1em; text-decoration:underline;">Attention !</div>
  <div style="margin:20px; text-align:justify; font-style:italic;">Ce mot de passe est personnel et ne doit pas être partagé avec une autre personne.<br>Vous pouvez changer votre mot de passe à tout moment depuis la gestion de votre compte sur l'intranet PEI.</div>
  <div style="margin:20px;">Vous pouvez accéder à la page de connexion de l'intranet en suivant <a style="font-weight:bold;" href="http://192.168.1.225/">ce lien</a></div>
  <div style="margin:40px 20px; font-style:italic;">Ne répondez pas à cet email</div>
  <div style="margin:20px 20px 10px 20px; text-decoration:underline;">Siège :</div>
  <div style="margin:10px 20px 20px 20px;">8, rue du docteur Charcot 91420 Morangis<br>Tél. : 0 800 00 41 40 (appel gratuit)</div>
  <div style="margin:20px 20px 10px 20px; text-decoration:underline;">Horaires :</div>
  <div style="margin:10px 20px 20px 20px;">Du lundi au jeudi : de 9h à 12h30 et de 13h30 à 18h<br>Le vendredi : de 9h à 12h</div>
  <div style="margin:20px;">© 2018 Propreté Environnement Industriel</div>
</div>