/****************************************************************************************************/

.main{ position:relative; }

.background{ display:none; position:absolute; top:0; bottom:0; left:0; right:0; }

.background .loader{ width:250px; background-color:#384046; border-radius:4px; box-sizing:border-box; margin:80px calc(50% - 125px) 80px calc(50% - 125px); }

.background .loader .spinner{ font-size:24px; line-height:32px; text-align:center; padding:20px; color:#5CB85C; }

.background .loader .message{ font-size:20px; line-height:24px; padding:0 20px 20px 20px; text-align:center; color:#FFFFFF; font-family:barlow; }

.main .content .error{ width:calc(100% - 250px); display:inline-block; vertical-align:top; box-sizing:border-box; padding:20px; background-color:#FFFFFF; box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); }

.main .content .error .icon{ width:40px; font-size:20px; line-height:24px; color:#FF0F0F; }

.main .content .error .warning{ width:40px; font-size:20px; line-height:24px; color:#DBD276; }

.main .content .error .message{ text-align:center; line-height:24px; margin:20px 0 0 0; font-size:16px; width:100%; font-family:barlow; }

.main .content .error .detail{ padding:20px; }

.main .content .error .detail .header{ cursor:pointer; width:max-content; }

.main .content .error .detail .header:hover{ color:#428BCA; }

.main .content .error .detail .header .label{ display:inline-block; font-size:20px; line-height:24px; font-family:barlow; }

.main .content .error .detail .header .arrow{ display:inline-block; vertical-align:top; font-size:14px; line-height:14px; padding:7px 0 6px 3px; color:#428BCA; }

.main .content .error .detail .content{ display:none; box-sizing:border-box; border:1px solid #D0D0D0; padding:10px; margin:10px 0 0 0; line-height:24px; font-size:16px; font-family:barlow-italic; }

.main .content .error .reload{ border-radius:4px; padding:8px 0 8px 0; cursor:pointer; width:150px; margin:20px 0 20px calc(100% - 150px); border:none; background-color:#428BCA; color:#FFFFFF; }

.main .content .error .reload:hover{ color:#000000; background-color:#2069A8; }

.main .content .create{ background-color:#FFFFFF; width:225px; display:inline-block; margin:0 25px 20px 0; box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); }

.main .content .create .title{ font-size:20px; line-height:24px; padding:10px; border-bottom:1px solid #F0F0F0; font-family:barlow; }

.main .content .create .button{ cursor:pointer; border:0; width:125px; padding:8px 0 8px 0; color:#FFFFFF; background-color:#5CB85C; border-radius:4px; margin:20px 20px 20px 80px; }

.main .content .create .button:hover{ color:#000000; background-color:#3A963A; }

.main .content .services{ margin:10px 0 10px 0; }

.main .content .services .block{ cursor:pointer; display:inline-block; vertical-align:top; margin:10px 20px 10px 0; background-color:#FFFFFF; width:300px; border-radius:4px; box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); }

.main .content .services .block:hover{ background-color:#CCDDFF; }

.main .content .services .block .header{ font-family:barlow; font-size:20px; line-height:24px; padding:20px; border-bottom:1px solid #F0F0F0; margin:0 0 10px 0; }

.main .content .services .block .data{ padding:10px 20px 10px 20px; font-family:barlow; font-size:16px; line-height:24px; }

.main .content .services .block .data .label{ display:inline-block; width:160px; }

.main .content .services .block .data .value{ display:inline-block; vertical-align:top; width:100px; text-align:right; }

/****************************************************************************************************/

@media all and (max-width: 479px)
{
  .main{ width:calc(100% - 40px); margin:40px 20px 40px 20px; }

  .main .content .error{ width:100%; }
}

@media all and (min-width: 480px) and (max-width: 767px)
{
  .main{ width:calc(100% - 40px); margin:40px 20px 40px 20px; }

  .main .content .error{ width:100%; }
}

@media all and (min-width: 768px) and (max-width: 959px)
{
  .main{ width:calc(80% - 40px); margin:40px 20px 40px 20px; display:inline-block; vertical-align:top; }

  .main .content .error{ width:100%; }
}

@media all and (min-width: 960px) and (max-width: 1279px)
{
  .main{ width:calc(80% - 40px); margin:40px 20px 40px 20px; display:inline-block; vertical-align:top; }
}

@media all and (min-width: 1280px) and (max-width: 1679px)
{
  .main{ width:800px; margin:40px 20px 40px 20px; display:inline-block; vertical-align:top; }
}

@media all and (min-width: 1680px)
{
  .main{ width:800px; margin:40px 20px 40px 20px; display:inline-block; vertical-align:top; }
}

/****************************************************************************************************/