<nav class="navigationBar">
  <div class="navigationBarContent">
    <div class="navigationBarContentAppName"><%= strings.storage.asideMenu.title %></div>
    <div class="navigationBarContentMenu">
      <a href="/storage" class="<% if(location === 'services'){ %>navigationBarContentMenuElementSelected<% } else{ %>navigationBarContentMenuElement<% } %>"><%= strings.storage.asideMenu.links.services %></a>
      <a href="/storage/admin" class="<% if(location === 'administration'){ %>navigationBarContentMenuElementSelected<% } else{ %>navigationBarContentMenuElement<% } %>"><%= strings.storage.asideMenu.links.administration %></a>
      <div onclick="openExitPrompt()" class="navigationBarContentMenuElement"><%= strings.storage.asideMenu.links.exit %></div>
    </div>
  </div>
</nav>
