/****************************************************************************************************/

.serviceCreationForm{ border-radius:2px; padding-bottom:20px; margin:40px auto 40px 0; max-width:500px; box-shadow:0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08); color:#000000; }

.serviceCreationFormTitle{ font-size:1.2em; padding:40px 20px 40px 20px; margin-bottom:40px; border-bottom:1px solid rgba(0,0,0,0.07); }

.serviceCreationFormButtonsBlock{ display:flex; flex-direction:row; flex-wrap:wrap; justify-content:flex-end; }

.serviceCreationFormBack{ font-size:1em; background-color:#FFFFFF; color:#D9534F; text-decoration:none; border:1px solid #CCC; border-radius:4px; padding:10px; width:max-content; margin:20px 20px 0 0; }

.serviceCreationFormBack:hover{ color:#C8423E; }

.serviceCreationFormSubmit{ font-size:1em; background-color:#FFFFFF; cursor:pointer; color:#428BCA; width:max-content; border:1px solid #CCC; border-radius:4px; padding:10px; margin:20px 20px 0 20px; }

.serviceCreationFormSubmit:hover{ color:#317AB9; }

.serviceCreationFormBlockLabel{ font-size:1em; margin:5px 20px 5px 20px; }

.serviceCreationFormBlockHelp{ font-size:0.8em; margin:5px 20px 40px 20px; }

.serviceCreationFormBlockIncorrectFormat{ font-size:0.9em; margin:0 20px 10px 20px; color:#D9534F; display:none; }

.serviceCreationFormBlockNameInput{ margin:0 20px 0 20px; width:calc(100% - 40px); border:1px solid #C0C0C0; border-radius:4px; padding:5px; box-sizing:border-box; font-size:1em; }

.serviceCreationFormBlockSizeInput{ margin:0 0 0 20px; border-top:1px solid #C0C0C0; border-right:none; border-bottom:1px solid #C0C0C0; border-left:1px solid #C0C0C0; border-radius:4px 0 0 4px; display:inline-block; vertical-align:top; box-sizing:border-box; padding:5px; font-size:1em; width:calc(100% - 120px); }

.serviceCreationFormBlockSizeSelect{ display:inline-block; vertical-align:top; border:1px solid #C0C0C0; border-radius:0 4px 4px 0; height:30px; width:80px; }

.serviceCreationFormBlockExtensions{ margin:10px 0 10px 0; border:1px solid #E0E0E0; border-radius:4px; }

.serviceCreationFormExtensionsTitle{ font-size:1.2em; margin:0 0 20px 0; }

.serviceCreationFormExtensionsMessage{ font-size:0.9em; margin:0 0 20px 0; }

.serviceCreationFormExtensionsBlock{ background-color:#F8F8F8; padding:20px; border-top:1px solid rgba(0,0,0,0.07); border-bottom:1px solid rgba(0,0,0,0.07); }

.serviceCreationFormExtensionsBlockList{ display:flex; padding:10px; border-radius:2px; flex-direction:row; flex-wrap:wrap; justify-content:flex-start; background-color:#FFFFFF; box-shadow:0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08); }

.serviceCreationFormExtensionsBlockElement{ width:33.3%; display:flex; flex-direction:row; align-items:center; margin:5px 0 5px 0; }

.serviceCreationFormExtensionsBlockElementCheckbox{ height:18px; width:18px; cursor:pointer; margin:0 10px 0 0; }

.serviceCreationFormExtensionsBlockElementLabel{ font-size:1.2em; }

/****************************************************************************************************/

.serviceCreationSavingPopup{ font-family:Arial, Helvetica, sans-serif; padding-bottom:20px; z-index:300; position:fixed; top:120px; margin-bottom:40px; left:calc(50% - 250px); background-color:#FFFFFF; border-radius:4px; width:500px; }

.serviceCreationSavingPopupTitle{ font-size:1.2em; padding:20px; border-bottom:1px solid #CCC; }

.serviceCreationSavingPopupMessage{ font-size:1em; padding:20px; }

.serviceCreationSavingPopupButtons{ display:flex; flex-direction:row; justify-content:flex-end; }

.serviceCreationSavingPopupButtonsConfirm, .serviceCreationSavingPopupButtonsCancel{ margin:0 20px 0 0; padding:10px; cursor:pointer; background-color:#FFFFFF; border:1px solid #CCC; border-radius:4px; font-size:1em; }

.serviceCreationSavingPopupButtonsConfirm{ color:#428BCA; }

.serviceCreationSavingPopupButtonsCancel{ color:#D9534F; }

/****************************************************************************************************/

@media (max-width: 539.9px)
{
  .serviceCreationSavingPopup{ width:calc(100% - 40px); top:80px; left:20px; }
}

/****************************************************************************************************/