/****************************************************************************************************/

.serviceCreationForm{ padding:20px; font-family:roboto-light; }

.serviceCreationFormTitle{ font-size:20px; line-height:24px; margin:0 0 20px 0; }

.serviceCreationFormBack{ text-decoration:none; margin:0 0 20px calc(100% - 200px); color:#FFFFFF; border-radius:4px; padding:8px 0 8px 0; display:block; background-color:#D9534F; text-align:center; width:200px; }

.serviceCreationFormBack:hover{ color:#000000; background-color:#C8423E; }

.serviceCreationFormBlock{ border:1px solid #E0E0E0; border-radius:4px; padding:10px; }

.serviceCreationFormBlockLabel{ font-size:18px; line-height:24px; margin:10px 0 5px 0; }

.serviceCreationFormBlockIncorrectFormat{ display:none; font-size:16px; line-height:24px; color:#C8423E; }

.serviceCreationFormBlockNameInput{ margin:0 0 10px 0; width:100%; max-width:400px; border:1px solid #C0C0C0; border-radius:4px; height:24px; padding:0 0 0 4px; box-sizing:border-box; }

.serviceCreationFormBlockSizeInput{ margin:0 0 10px 0; border-top:1px solid #C0C0C0; border-right:none; border-bottom:1px solid #C0C0C0; border-left:1px solid #C0C0C0; border-radius:4px 0 0 4px; display:inline-block; vertical-align:top; height:24px; box-sizing:border-box; padding:0 0 0 4px; width:calc(100% - 80px); max-width:320px; }

.serviceCreationFormBlockSizeSelect{ display:inline-block; vertical-align:top; border:1px solid #C0C0C0; border-radius:0 4px 4px 0; height:24px; width:80px; }

.serviceCreationFormBlockSubmit{ border:none; border-radius:4px; font-size:16px; line-height:24px; padding:4px 0 4px 0; cursor:pointer; width:200px; display:block; background-color:#428BCA; color:#FFFFFF; margin:20px 0 0 0; }

.serviceCreationFormBlockSubmit:hover{ color:#000000; background-color:#317AB9; }

.serviceCreationFormBlockExtensions{ margin:10px 0 10px 0; border:1px solid #E0E0E0; border-radius:4px; }

.serviceCreationFormBlockExtensionsTitle{ padding:10px; margin-bottom:10px; font-size:18px; line-height:20px; font-family:roboto-light; border-bottom:1px solid #E0E0E0; }

.serviceCreationFormBlockExtensionsElements{ padding:10px; }

.serviceCreationFormBlockExtensionsElementsElement{ width:33.3%; display:inline-block; vertical-align:top; margin:0 0 10px 0; }

.serviceCreationFormBlockExtensionsElementsElementCheckbox{ width:24px; height:24px; cursor:pointer; display:inline-block; vertical-align:top; margin:0 10px 0 0; }

.serviceCreationFormBlockExtensionsElementsElementLabel{ font-size:20px; line-height:24px; font-family:roboto-light; display:inline-block; vertical-align:top; width:calc(100% - 34px); }

/****************************************************************************************************/