/***************************************************************************************************/

.createServiceBlock{ padding-bottom:20px; border-radius:2px; box-shadow:0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08); max-width:400px; width:100%; margin:40px 0 20px 0; }

.createServiceTitle{ padding:20px; font-size:1.2em; border-bottom:1px solid #CCC; color:#000000; }

.createServiceEnabledMessage{ color:#000000; font-size:0.9em; padding:20px; }

.createServiceDisabledMessage{ color:#D9534F; font-size:0.9em; padding:20px 20px 10px 20px; }

.createServiceLink{ display:block; width:max-content; font-size:1em; color:#428BCA; cursor:pointer; margin:10px 20px 10px auto;  }

.createServiceLink:hover{ color:#317AB9; }

/****************************************************************************************************
* SERVICES LIST BLOCK                                                                               *
****************************************************************************************************/

.servicesList{ border-top:1px solid #CCC; border-bottom:1px solid #CCC; margin:40px 0 40px 0; display:flex; flex-direction:row; justify-content:flex-start; max-width:1200px; flex-wrap:wrap; padding:20px 0 20px 0; }

.servicesListBlock{ box-shadow:0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08); width:30%; min-width:300px; border-radius:2px; box-sizing:border-box; margin:15px auto 15px 0; }

.servicesListBlockTitle{ font-size:1.2em; color:#000000; padding:10px; border-bottom:1px solid #CCC; }

.servicesListBlockKey{ font-size:1em; padding:10px; }

.servicesListBlockValue{ font-size:1em; padding:10px; }

.serviceListBlockUpdate{ padding:10px; background-color:#F8F8F8; border-top:1px solid rgba(0,0,0,0.07); border-bottom:1px solid rgba(0,0,0,0.07); }

.serviceListBlockUpdateEnabledMessage, .serviceListBlockRemoveEnabledMessage{ color:#000000; font-size:0.9em; }

.serviceListBlockUpdateDisabledMessage, .serviceListBlockRemoveDisabledMessage{ color:#D9534F; font-size:0.9em; }

.serviceListBlockUpdateButton{ display:block; box-sizing:border-box; text-align:center; text-decoration:none; border:1px solid #CCC; border-radius:4px; font-size:1em; padding:10px; margin:10px 0 0 calc(100% - 100px); width:100px; cursor:pointer; background-color:#FFFFFF; color:#428BCA; }

.serviceListBlockRemove{ padding:10px; }

.serviceListBlockRemoveButton{ border:1px solid #CCC; border-radius:4px; font-size:1em; padding:10px; margin:10px 0 0 calc(100% - 100px); width:100px; cursor:pointer; background-color:#FFFFFF; color:#D9534F; }

/****************************************************************************************************
* SERVICES LIST EMPTY                                                                               *
****************************************************************************************************/

.servicesListEmpty{ font-family:roboto-regular; margin:40px 0 40px 0; font-size:1.5em; text-align:center; }

/***************************************************************************************************/

.removeServiceConfirmationPopup{ font-family:Arial, Helvetica, sans-serif; padding-bottom:20px; z-index:300; position:fixed; top:120px; margin-bottom:40px; left:calc(50% - 250px); background-color:#FFFFFF; border-radius:4px; width:500px; }

.removeServiceConfirmationPopupTitle{ font-size:1.2em; padding:20px; border-bottom:1px solid #CCC; }

.removeServiceConfirmationPopupMessage{ font-size:1em; padding:20px; }

.removeServiceConfirmationPopupButtons{ display:flex; flex-direction:row; justify-content:flex-end; }

.removeServiceConfirmationPopupButtonsConfirm, .removeServiceConfirmationPopupButtonsCancel{ margin:0 20px 0 0; padding:10px; cursor:pointer; background-color:#FFFFFF; border:1px solid #CCC; border-radius:4px; font-size:1em; }

.removeServiceConfirmationPopupButtonsConfirm{ color:#D9534F; }

.removeServiceConfirmationPopupButtonsCancel{ color:#428BCA; }

/****************************************************************************************************/

@media (max-width: 539.9px)
{
  .removeServiceConfirmationPopup{ width:calc(100% - 40px); top:80px; left:20px; }
}

/****************************************************************************************************/

@media (max-width: 319px)
{
  .services{ width:calc(100% - 40px); margin:20px; }

  .serviceBlock{ width:calc(100% - 40px); margin:20px; }

  .serviceBlockRemoveActive, .serviceBlockRemoveInactive{ margin:10px 10px 10px calc(100% - 130px); }

  .serviceBlockRemovePrompt{ width:calc(100% - 40px); top:40px; left:20px; margin-bottom:40px; }
}

@media (min-width: 320px) and (max-width: 479px)
{
  .services{ width:calc(100% - 40px); margin:20px; }

  .serviceBlock{ width:calc(100% - 40px); margin:20px; }

  .serviceBlockRemovePrompt{ width:calc(100% - 40px); top:40px; left:20px; margin-bottom:40px; }
}

@media (min-width: 480px) and (max-width: 639px)
{

}

@media (min-width: 640px) and (max-width: 779px)
{

}

@media (min-width: 780px) and (max-width: 959px)
{

}

@media (min-width: 960px) and (max-width: 1279px)
{

}

@media (min-width: 1280px) and (max-width: 1679px)
{

}

@media (min-width: 1680px)
{

}

/****************************************************************************************************/