<!DOCTYPE html>
<html>
  <title>Library - Droits</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/admin.css" />
  <link rel='stylesheet' type='text/css' href='/stylesheets/admin/rights/users.css' />
  <body class='private-section-body'>
    <% include ../../include/menu.ejs %>
    <% include ../../include/admin_aside.ejs %><!--
    --><div class='main'>
      <div class='info'>
        <div class='header'>Info</div>
        <div class='content'>Cliquez sur un utilisateur pour gérer ses droits</div>
      </div>
      <table class='table'>
        <tr class='labels'>
          <th class='email'>Adresse Email</th>
          <th class='lastname'>Nom</th>
          <th class='firstname'>Prénom</th>
        </tr>
        <% for(var i = 0; i < Object.keys(users).length; i++){ %>
          <tr id='<%= users[i]['uuid'] %>' class='values'>
            <td><%= users[i]['email'] %></td>
            <td><%= users[i]['lastname'] %></td>
            <td><%= users[i]['firstname'] %></td>
          </tr>
        <% } %>
      </table>
    </div>
    <% include ../../include/scripts.ejs %>
    <script src='/js/fontawesome.js'></script>
    <script src='/js/admin/rights/links.js'></script>
    <script src='/js/afk.js'></script>
  </body>
</html>