<!DOCTYPE html>
<html>
  <title>PEI - <%= strings.common.locations[currentLocation] %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/quill.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/common.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/root/news/create.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.css" />
  <body>
    <% include ../../include/informations.ejs %>
    <div class="mainSection">
      <div class="subSection">
        <% include ../include/header.ejs %>
        <div class="contentSection">
          <div class="asideColumn">
            <% include ../include/aside.ejs %>
            <% include ../include/news.ejs %>
          </div>
          <div class="centerColumn">
            <div class="createArticleBlock">
              <div class="createArticleBlockHeader"><%= strings.common.root.news.create.header %></div>
              <div class="createArticleBlockTitleLabel"><%= strings.common.root.news.create.titleLabel %></div>
              <input type="text" class="createArticleBlockTitleInput" id="createArticleBlockTitleInput" required />
              <div id="createArticleContainer"></div>
              <button class="createArticleSendButton" id="createArticleSendButton">Créer l'article</button>
            </div>
          </div>
        </div>
      </div>
      <% include ../include/footer.ejs %>
    </div>
    <% include ../../include/common_scripts.ejs %>
    <% include ../include/scripts.ejs %>
    <script src='/js/quill.js'></script>
    <script src='/js/root/news/selectNewsExternal.js'></script>
    <script src='/js/root/news/creation/manageEditor.js'></script>
  </body>
</html>